Заполните данные о необходимых переменных:

In [ ]:
Today = '2024-11-30'

print_ARAP = False
print_manual_map = False
print_counterclaims = False
print_AR_sum = False
excel_tofolder_on_Z = False
print_to_control_file = False


import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\Working_attributes")
from Imports import *

In [2]:
# last reportdate in bd
query = f"""
select max("reportDate") as "max_date"
from RISKACCESS."unifiedARReport"
where 
"rowType" = 'M' and
"reportType" = 'AP' 
--and "reportDate" = TRUNC(sysdate) - 120  
"""
data_day = export_from_RISKCUSTOM(query)
data_day

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

    max_date
0 2024-10-31

Открываю следующие файлы:

In [3]:
path = 'C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\OCP\\ARAP\\SQL'
SQL_folder_list = os.listdir(path)
query_files_list = [x for x in SQL_folder_list if '.txt' in x and 'query' in x]
query_files_list

['2024-09-04_SQL_query.txt',
 '2024-09-05_SQL_query.txt',
 '2024-09-11_SQL_query.txt']

In [4]:
with open(path + '\\' + query_files_list[len(query_files_list)-1], 'r') as file:
    query = file.read()
data_export = export_from_RISKCUSTOM(f'''SELECT "sourceSystem","presentAmountRUB","internalExternalEN","customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding","currencyCode",
                                            {query}
                                            AND "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')''')    
data_export.head(2)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

,sourceSystem,presentAmountRUB,internalExternalEN,customerName,orgName,companyCode,codeBUsap,dueDate,presentAmountUSD,holding,currencyCode,accountPurpose
0,ETL document loader,-3270668.40,Internal,CORRIGO FERTILIZERS FZ-LLC,BRFTO: Fertilizantes Tocantins S.A.,BRFTO,None,2024-09-01 00:00:00,-33699.82,EUROCHEM,BRL,Trade payables
1,ETL document loader,-3773847.73,Internal,CORRIGO FERTILIZERS FZ-LLC,BRFTO: Fertilizantes Tocantins S.A.,BRFTO,None,2024-09-01 00:00:00,-38884.40,EUROCHEM,BRL,Trade payables

In [5]:
# query = f'''select 
#     "customerName","internalExternalEN","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD", "dealNumber", "holding","currencyCode", "sourceSystem","presentAmountRUB",
# CASE
#         WHEN "bscCode" in ('130','135','BSC130','BSC135') 
#         THEN 'Trade receivables'
#         WHEN "bscCode" in ('160','165','BSC160','BSC165') 
#         THEN 'Advances to suppliers'
#         WHEN "bscCode" in ('170','175','BSC170','BSC175')
#         THEN 'Capital advances'
#         WHEN "bscCode" in ('140','145','BSC140','BSC145') 
#         THEN 'Other receivables'
#         WHEN "bscCode" in ('330','BSC330')
#         THEN 'Provisions'
#         WHEN "bscCode" in ('300','305','BSC300','BSC305') 
#         THEN 'Trade payables'
#         WHEN "bscCode" in ('310','315','BSC310','BSC315') 
#         THEN 'Other payables'
#         WHEN "bscCode" in ('360','365','BSC360','BSC365') 
#         THEN 'Advances received'
#         WHEN "bscCode" in ('350','355','BSC350','BSC355') 
#         THEN 'Loans received'
#         WHEN "bscCode" in ('210','215','BSC210','BSC215') 
#         THEN 'Loans issued'
#         WHEN "bscCode" in ('340','BSC340') 
#         THEN 'Tax'
#         WHEN "bscCode" in ('410','BSC410') 
#         THEN 'Pension'
#         ELSE 'Unknown'
#     END AS "accountPurpose"
# from RISKACCESS."unifiedARReport"
# where 
#     "sourceSystem" in ('OEBS12_EU','ETL document loader','SAP_HRG') and
#     "rowType" = 'M' and
#     "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
# union all select
#      "customerName","internalExternalEN","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD", "dealNumber", "holding","currencyCode", "sourceSystem","presentAmountRUB",
# CASE
#         WHEN ("glAccount" like '62%' or "glAccount" IN (7699200310, 7699100210,4601000000, 4611000000, 1501010009, 1501010019, 1501010109, 1501010119, 2201010000,
#         2201010008, 2201010009, 2201010010, 2201010018, 2201010019, 2201011000, 2201011008, 2201011009, 2201011010, 2201011018, 2201011019, 2201010098, 2201010099,
#         2201020000, 2201020008, 2201030000, 2201030008, 2201010090, 2201010190, 2110000000, 2110000900, 2130000000, 2130000900, 2151000000, 2151000900, 2170000000,
#         2170000900, 1210000000, 1210000900, 1260000000, 2181000000, 2181000900))
#         THEN 'Trade receivables'
#         WHEN "glAccount" IN (6002770900, 6002090900, 6002020000, 6002020099, 6002080000, 6002090000, 6002050000, 6002020900, 6002070000, 6002070099, 6002770000,
#         6002050900, 6002070900, 6099000215, 6099000224, 6099000212, 6099000217, 6099000219, 6099000619, 6099000120, 6099000123, 6099000820, 6099000430, 6099000460,
#         6099000470, 6099000490, 7699100410, 6099000830, 6099000810, 6002030000, 6002040000, 6002030900, 6002040900, 6099000440, 6099000450, 6099000203, 6099000615, 
#         6002140000, 6002140099, 6099000616, 6002150000, 7610001900, 7610001000, 7610001099, 2301010100, 2301010108, 2301010110, 2301010118, 2301010200, 2301010208,
#         2301010210, 2301010218, 2301010300, 2301010308, 2301010400, 2301010408, 2301011100, 2301011108, 2301011110, 2301011118, 2301011200, 2301011208, 2301011210,
#         2301011218, 2301011300, 2301011308, 2302010000, 2302010007, 1611000000, 1613000000, 1615000000, 7610007900, 7610007000, 7610005000, 7699100620, 7699100420)
#         THEN 'Advances to suppliers'
#         WHEN "glAccount" IN (6002010000, 6002010099, 6002010900, 6099000612, 6099000211, 2301020100, 2301020108, 2301020110, 2301020118, 2301020200, 2301020208,
#         2301020210, 2301020218, 2301020300, 2301020308, 2301020310, 2301020318, 2301021100, 2301021108, 2301021110, 2301021118, 2301021200, 2301021208, 2301021210,
#         2301021218, 2301021300, 2301021308, 2301021310, 2301021318, 2301000008, 2301001008, 2302020000, 2302020007, 1612000000, 1614000000)
#         THEN 'Capital advances'
#         WHEN "glAccount" IN (6001089000, 7625003000, 7610003000, 7615003000, 7699100550, 6099000710, 7699200500, 7615004000, 7629009000, 7625013000, 7625013900,
#         7699100200, 7629000900, 7610406000, 7610406900, 7610405000, 7610405900, 7630707000, 7622020000, 7620801000, 7620801900, 7630705000, 7629000099, 7629000000,
#         7610004000, 7618000900, 7618000000, 6001080900, 6001080000, 7622010000, 7620703000, 7620704000, 7620701000, 7620701900, 7620702000, 7622030000, 7622040000,
#         7699900000, 7610500000, 7610500099, 7699100240, 7630702000, 7630703000, 7630706000, 7625006000, 7625007000, 7625001000, 7625001900, 7620200000, 7620200900,
#         2601030000, 2601030008, 2601040000, 2601040008, 2601050009, 2602000000, 2602000008, 2602000009, 2602000010, 2602000018, 2602000019, 2602001000, 2602001008,
#         2602001010, 2602001018, 2602010000, 2602010009, 2602060100, 2602000090, 2603000000, 2603000100, 36307060, 1284000000, 1284000900, 1630000000, 1282000000, 
#         1282000900, 1251000000, 2601010009, 2601020009)
#         THEN 'Other receivables'
#         WHEN "glAccount" IN (2201910000, 1290000000, 2190000000, 2301910100, 2602900000)
#         THEN 'Provisions'
#         WHEN ("glAccount" IN (1022200000))
#         THEN 'FX Spot'
#         WHEN ("glAccount" IN (1110009000, 1270000000, 1271000000, 2204000000, 2604010100, 2604020100, 2604021110, 2604021200, 7621156000))
#         THEN 'Loans issued'
#         WHEN ("glAccount" IN (1410000000, 1430010000, 1430030000, 1430050000, 1430060000, 1430070000))
#         THEN 'Tax'
#         WHEN ("glAccount" IN (2602000020))
#         THEN 'MTM Derivatives'        
#         WHEN ("glAccount" IN (7610300000))
#         THEN 'Dividends'        
#         WHEN ("glAccount" IN (7611102000))
#         THEN 'Capital expenses'       
#         ELSE 'Unknown'
#     END AS "accountPurpose"
# from RISKACCESS."unifiedARReport"
# where 
#     ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
#     "rowType" = 'M' and
#     "reportType" = 'AR' and 
#     "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
# union all select
#  "customerName","internalExternalEN","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD", "dealNumber", "holding", "currencyCode", "sourceSystem","presentAmountRUB",
# CASE
#         WHEN "glAccount" like '63%'
#         THEN 'Provisions'
#         WHEN ("glAccount" IN (5201010100, 5201010110, 5201010200, 5201011100, 5201011110, 5201011200))
#         THEN 'Trade payables'
#         WHEN ("glAccount" IN (5501000000, 5501010000, 5502000000, 5503020000, 5503030000, 5503030010, 5503010000))
#         THEN 'Other payables'
#         WHEN ("glAccount" like '62%' or "glAccount" IN (5301010000, 5301010010, 7620002000, 0035100000))
#         THEN 'Advances received'
#         WHEN ("glAccount" like '60%' or "glAccount" IN (5101010100, 5101020110, 5101021110, 5104040000, 5109000000, 5503050000, 5505010200, 5505010210, 5505011210, 5505020100, 
#         7610101000, 7610402000, 7610404000, 7610405000, 7610601000, 7610603000, 7610691000, 7619000000, 7620002000, 0033970000, 0033500000, 0033600000, 0033960000, 0033140000,
#         0033130000, 0033120000, 0033110000, 0033800000, 0033950000, 0033970100))
#         THEN 'Other payables'
#         WHEN ("glAccount" IN (0032200000, 0032310000))
#         THEN 'Pension'
#         WHEN ("glAccount" IN (0032300000, 0032150000, 0032140000, 0032130000, 0032120000, 0032110000, 0031500000, 0033970200))
#         THEN 'Social'
#         WHEN ("glAccount" IN (0031940000, 0031930000, 0031920000, 0031910000, 0031800000, 0031700000, 0031600000, 0031330000, 0031320000, 0031220000, 0031210000, 0031100000))
#         THEN 'Tax'
#         WHEN ("glAccount" IN (0030200000))
#         THEN 'Loans received'
#         ELSE 'Unknown'
#     END AS "accountPurpose"
# from RISKACCESS."unifiedARReport"
# where 
#     ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
#     "rowType" = 'M' and
#     "reportType" = 'AP' and 
#     "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
#     '''

# data_export = export_from_RISKCUSTOM(query)

In [6]:
# проверка на кол-во баз данных
assert len(data_export.sourceSystem.unique()) == 5

In [7]:
### ARAP:

data_work = data_export.copy()
data_work['source_index'] = data_work.index
data_work = data_work[data_work.holding!="EXTERNAL"].reset_index(drop=True)
# filter to only AR or AP and provisions
data_work = data_work[data_work.accountPurpose.isin(['Trade receivables', 'Other receivables', 'Provisions','Trade payables', 'Other payables'])]
# tech ccy to normal
data_work.currencyCode = data_work.currencyCode.replace(CCY_tech_dict) 
# drop na
data_work = data_work[~(data_work.orgName.isna() & data_work.companyCode.isna())].reset_index(drop=True)
# merge
data_work['CompCode_concat'] = data_work['companyCode'].fillna('External')
data_work['codeBUsap'] = data_work['codeBUsap'].fillna('External')
data_work.loc[data_work.CompCode_concat == 'External','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == 'External','codeBUsap']
data_work['org_code'] = merge_Mapping(data_work, col='orgName')
data_work.loc[data_work.CompCode_concat == 'External','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == 'External','org_code']
# data_work['CompCode_concat'] = data_work['companyCode'].fillna('')
# data_work.loc[data_work.CompCode_concat == '','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == '','org_code']
data_work['CompMap'] = merge_SalesUnits(data_work, col='CompCode_concat', merge_col='ocpSegment')

data_work['CtyCode'] = merge_Mapping(data_work, col='customerName').fillna('External')
data_work['CtyMap'] = merge_SalesUnits(data_work, col='CtyCode', merge_col='ocpSegment').fillna('External')
data_work['Cty_holding'] = merge_SalesUnits(data_work,'CtyCode',merge_col='holding').fillna('External')

data_work['Amount_USD'] = data_work['presentAmountUSD'].replace({np.nan : 0})

data_work_pivot = data_work.groupby(['holding','customerName', 'Cty_holding', 'orgName', 'CompCode_concat', 'currencyCode', 'sourceSystem','accountPurpose', 'CompMap', 'CtyCode', 'CtyMap','internalExternalEN','dueDate'], as_index=False, dropna=False).agg({'Amount_USD':'sum','presentAmountRUB':'sum','source_index':list})

data_work_pivot['AR_flag'] = data_work_pivot['accountPurpose']\
                                            .isin(['Trade receivables', 'Other receivables', 'Provisions'])\
                                            .astype(int)
data_work_pivot['AP_flag'] = data_work_pivot['accountPurpose']\
                                            .isin(['Trade payables', 'Other payables'])\
                                            .astype(int)

data_work_pivot['Amount_AR_USD'] = data_work_pivot['Amount_USD'] * data_work_pivot['AR_flag']
data_work_pivot['Amount_AP_USD'] = data_work_pivot['Amount_USD'] * data_work_pivot['AP_flag']

data_work_pivot = Period(data_work_pivot, day_for_count=Today, col_with_date='dueDate')

#change order of columns
data_work_pivot = data_work_pivot[['holding', 'customerName', 'CompCode_concat','currencyCode','sourceSystem','accountPurpose','CompMap','CtyCode','CtyMap','Amount_USD','AR_flag', 'Amount_AR_USD', 'AP_flag', 'Amount_AP_USD', 'Days', 'Period', 'internalExternalEN', 'dueDate','Cty_holding', 'orgName',  'presentAmountRUB','source_index']]

list_columns_drop = ['holding', 'internalExternalEN', 'dueDate','Cty_holding', 'orgName',  'presentAmountRUB']



### Table of sum by BU and customerName for AR

accountPurpose_AR_list = ['Provisions','Trade receivables', 'Other receivables']
data_BU_prov_rec = data_work_pivot[:]
data_BU_prov_rec = data_BU_prov_rec[data_BU_prov_rec.accountPurpose.isin(accountPurpose_AR_list)]
data_BU_prov_rec_pivot = data_BU_prov_rec[data_BU_prov_rec.CompMap!='External'].reset_index()
data_BU_prov_rec_pivot = data_BU_prov_rec_pivot.groupby(dropna=False, by=['holding','CompMap','customerName','accountPurpose'])['Amount_USD'].agg('sum').unstack(-1)
data_BU_prov_rec_pivot.iloc[:,-3:] = data_BU_prov_rec_pivot.iloc[:,-3:].fillna(0)
data_BU_prov_rec_pivot['AR'] = data_BU_prov_rec_pivot['Other receivables'] + data_BU_prov_rec_pivot['Trade receivables']
data_BU_prov_rec_pivot = data_BU_prov_rec_pivot.drop(columns=['Other receivables','Trade receivables'])
data_BU_prov_rec_pivot = data_BU_prov_rec_pivot.reset_index()


### Counterclaims:

# data_SalesUnits
data_SalesUnits = export_from_RISKCUSTOM(f"""select "ocpSegment", "holding","businessSegmentDetailed" from "RISKACCESS"."mdgSalesUnits" """)
# check differences between columns with BU
assert len(data_SalesUnits[(data_SalesUnits.ocpSegment.isna())&(~data_SalesUnits.businessSegmentDetailed.isna())])==0
data_SalesUnits = data_SalesUnits.dropna(subset='ocpSegment') # dropna
# pivot
data_SalesUnits_pivot = data_SalesUnits.groupby('holding', as_index=False).ocpSegment.apply(lambda x: x.unique().tolist())
data_SalesUnits_pivot = data_SalesUnits_pivot[data_SalesUnits_pivot.holding.isin(holding_list)]
# frame
df_list = []
for holding in data_SalesUnits_pivot.holding:
    BU_SalesUnits_list = data_SalesUnits_pivot[data_SalesUnits_pivot.holding==holding]['ocpSegment'].item()
    for BU_1 in BU_SalesUnits_list:
        for BU_2 in BU_SalesUnits_list:
            # if BU_1!=BU_2:
            row_list = [holding, BU_1, BU_2]
            df_list.append(row_list)
BU_SalesUnits_df = pd.DataFrame(df_list).rename(columns={0:'holding', 1:'CompMap', 2:"CtyMap"})
BU_SalesUnits_df = BU_SalesUnits_df.sort_values(BU_SalesUnits_df.columns.tolist())

# counterclaims from data
data_counterclaims = data_work_pivot[:]
# accountPurpose filter
accountPurpose_list = ['Trade receivables', 'Trade payables', 'Other receivables', 'Other payables']
data_counterclaims = data_counterclaims[data_counterclaims.accountPurpose.isin(accountPurpose_list)]
# CompMap, CtyMap filter
data_counterclaims = data_counterclaims[(data_counterclaims.CompMap!='External')&(data_counterclaims.CtyMap!='External')]
# pivot
data_counterclaims_pivot = data_counterclaims.groupby(['holding', 'CompMap', 'CtyMap', 'currencyCode'], as_index=False, dropna=False)[['Amount_AR_USD', 'Amount_AP_USD']].agg('sum')
# merge on frame
data_counterclaims_merge = BU_SalesUnits_df.merge(data_counterclaims_pivot, how='left', on=['holding', 'CompMap', 'CtyMap'])
# work with values
data_counterclaims_merge[['Amount_AR_USD', 'Amount_AP_USD']] = data_counterclaims_merge[['Amount_AR_USD', 'Amount_AP_USD']].apply(lambda x: x/10**6).fillna(0) # mlns
data_counterclaims_merge = data_counterclaims_merge.rename(columns={'Amount_AR_USD':'Amount_AR_USD_mln', 'Amount_AP_USD':'Amount_AP_USD_mln'})
data_counterclaims_merge[['Amount_AR_USD_mln', 'Amount_AP_USD_mln']] = data_counterclaims_merge[['Amount_AR_USD_mln', 'Amount_AP_USD_mln']].round(3) # round
data_counterclaims_merge['Diff_mln'] =  data_counterclaims_merge[['Amount_AR_USD_mln', 'Amount_AP_USD_mln']].sum(axis=1)
data_counterclaims_merge = is_approximately_equal_for_cols(df=data_counterclaims_merge,col_1='Amount_AP_USD_mln',col_2='Amount_AR_USD_mln')

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['SAMSALES' 'SAMSALES' 'SAMSALES' ... 'SAMSALES' 'SAMSALES' 'SAMSALES']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['TRADING' 'TRADING' 'TRADING' ... 'SAMSALES' 'SAMSALES' 'SAMSALES']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['EUROCHEM' 'EUROCHEM' 'EUROCHEM' ... 'EUROCHEM' 'EUROCHEM' 'EUROCHEM']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

Проверка на merge:

In [8]:
check_data = data_work.loc[(data_work['internalExternalEN'] == 'Internal') & (data_work['CtyMap'] == 'External'),\
                                                    ['customerName', 'CtyCode', 'CtyMap']].drop_duplicates()
check_data2 = data_work.loc[(data_work['internalExternalEN'] == 'Internal') & (data_work['CompMap'] == 'External'),\
                                                    ['orgName', 'CompCode_concat','CompMap']].drop_duplicates()
check_data3 = data_work.loc[(data_work['CtyCode'] != 'External') & (data_work['Cty_holding'] == 'External'),\
                                                    ['CtyCode', 'Cty_holding']].drop_duplicates()
if print_manual_map == True:
    Output_file = f'{str(date.today())}_ARAP_manual_map.xlsx'
    if excel_tofolder_on_Z == True:
        Output_file = Output_path + Output_file
    writer = pd.ExcelWriter(Output_file, engine='openpyxl')  
    workbook=writer.book
    startcol = 0
    for check_data in [check_data2, check_data, check_data3]:
        check_data.to_excel(writer, index=False, startcol=startcol)
        startcol = startcol + check_data.shape[1] + 1
    writer.close()

Создание файла сравнения:

In [9]:
ARAP_info = data_work_pivot.groupby(as_index=False, dropna=False, by=['holding','CompMap','currencyCode'])[['Amount_USD','Amount_AR_USD','Amount_AP_USD','AP_flag','AR_flag']].agg('sum')
ARAP_info_count_str = data_work_pivot.groupby(as_index=False, dropna=False, by='holding')['Amount_USD'].agg('count').rename(columns={'Amount_USD':'count_str'})
ARAP_info = ARAP_info.merge(ARAP_info_count_str, on='holding')
ARAP_info['date_sql'] = Today
ARAP_info['date_script'] = date.today()


### to_excel
if print_ARAP==True:
    if print_to_control_file==True:
        Output_control_file='C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\OCP\\ARAP\\ARAP_compare_file.csv'
        ARAP_info.to_csv(Output_control_file,index=False, mode='a', header=False)

Запись в output файлы:

In [10]:
data_dict = {'data_BU_prov_rec_pivot':{'sheet':'AR_provisions','data': data_BU_prov_rec_pivot, 'print':print_AR_sum, 'size':'small'},\
                'data_counterclaims_merge':{'sheet':'BU_counterclaims','data':data_counterclaims_merge, 'print':print_counterclaims, 'size':'small'},\
                'data_BU_prov_rec':{'sheet':'AR_provisions_data', 'data':data_BU_prov_rec, 'print':print_AR_sum, 'size':'big'},\
                'data_work_pivot':{'sheet':'ARAP', 'data':data_work_pivot, 'print':print_ARAP, 'size':'big'}}

# by holding
for holding in holding_list:
    Output_file = "_".join([str(date.today()), holding, 'SAP_ARAP.xlsx'])
    if excel_tofolder_on_Z == True:
        Output_path = 'z:\\Anna_Klimova\\OCP\\Archive\\'
        Output_file = Output_path + Output_file
    # writer
    writer = pd.ExcelWriter(Output_file, engine='openpyxl')  
    workbook = writer.book

    for data_name in data_dict.keys():
        # print variable == True
        if data_dict[data_name]['print'] == True:
            data_print = data_dict[data_name]['data']
            data_print = data_print[data_print.holding == holding]
            # drop columns in big data
            if data_dict[data_name]['size'] == 'big':
                data_print = data_print.drop(columns=list_columns_drop)
            # print
            data_print.to_excel(writer, index=False, sheet_name=data_dict[data_name]['sheet'])
    writer.close()

IndexError: At least one sheet must be visible

Встречные требования по валютам:

In [ ]:
# # Фильт по Counterparty_Group - только внутригрупповые
# data_E_to_C = data_work_pivot[(data_work_pivot.CtyMap!='External')&(data_work_pivot.Amount_USD!=0)&(data_work_pivot.accountPurpose!='Provisions')]
# data_E_to_C = data_E_to_C[(data_E_to_C.AR_flag!=0)|(data_E_to_C.AP_flag!=0)]
# data_E_to_C['Index_copy'] = data_E_to_C.index
# data_E_to_C= data_E_to_C.fillna('_')

In [ ]:
# if print_counterclaims == True:
#     Output_counterclaims = f'{str(date.today())}_ARAP_not_equal_counterclaims.xlsx'
#     if excel_tofolder_on_Z == True:
#         Output_path = 'z:\\Anna_Klimova\\OCP\\Archive\\'
#         Output_counterclaims = Output_path + Output_counterclaims
#     writer = pd.ExcelWriter(Output_counterclaims, engine='openpyxl')  
#     workbook=writer.book

# # part of the data by holding
# holding = ''
# for holding in data_E_to_C.holding.unique().tolist():
#     data_E_to_C_holding = data_E_to_C[(data_E_to_C.holding == holding) & (data_E_to_C.Cty_holding == holding)]
#     startrow = 1
#     currencyCode = ''
#     if print_counterclaims == True:
#         pd.DataFrame({'holding':f'{holding}_by_CCY'}, index=[1]).to_excel(writer, sheet_name=f'{holding}_CCY_tabels', index=False, header=False)

#     # matrix for each holding
#     CompMap_list = list(data_E_to_C_holding.CompMap.unique())
#     CompMap_list.sort(reverse=True)
#     CtyMap_list = list(data_E_to_C_holding.CtyMap.unique())
#     CtyMap_list.sort(reverse=True)
#     matrix_list = []
#     for CompMap in CompMap_list:
#         matrix_dict = {}
#         matrix_dict['CompMap'] = CompMap
#         for CtyMap in CtyMap_list:
#             matrix_dict[CtyMap] = 0
#         matrix_list.append(matrix_dict)
#     matrix_df = pd.DataFrame(matrix_list)
#     matrix_df.index = matrix_df['CompMap']
#     matrix_df = matrix_df.drop('CompMap',axis=1)

#     # part of the data by CCY
#     for currencyCode in data_E_to_C_holding.currencyCode.unique().tolist():
#         data_E_to_C_currencyCode = data_E_to_C_holding[data_E_to_C_holding.currencyCode == currencyCode]
#         pivot = data_E_to_C_currencyCode.pivot_table(index=['CompMap','CtyMap'],values=['Amount_AR_USD','Amount_AP_USD'],aggfunc=sum).reset_index()
        
#         matrix_df[:] = 0
#         ccy_df = matrix_df
#         for string in CompMap_list:
#             status = 'AR'
#             for col in CtyMap_list:
#                 CCY_df_part = pivot[(pivot.CompMap==string)&(pivot.CtyMap==col)]
#                 if string==col:
#                     status = 'AP'
#                     try:
#                         ccy_df.loc[string, col] = CCY_df_part.Amount_AR_USD.values[0] + CCY_df_part.Amount_AP_USD.values[0]
#                     except:
#                         pass
#                 elif status == 'AP':
#                     try:
#                         ccy_df.loc[string, col] = CCY_df_part.Amount_AP_USD.values[0]
#                     except:
#                         pass
#                 elif status == 'AR':
#                     try:
#                         ccy_df.loc[string, col] = CCY_df_part.Amount_AR_USD.values[0]
#                     except:
#                         pass

#         ### to excel
#         if print_counterclaims == True:
#             pd.DataFrame([{'CCY':currencyCode}]).to_excel(writer, sheet_name=f'{holding}_CCY_tabels', index=False, header=False, startrow=startrow)
#             startrow += 1
#             ccy_df.to_excel(writer, sheet_name=f'{holding}_CCY_tabels', index=True, startrow=startrow)
#             startrow = startrow + len(ccy_df) + 2
# if print_counterclaims == True:
#     # data_work_pivot.to_excel(writer, sheet_name=f'data', index=False)
#     writer.close()

Тестирование информации:

In [ ]:
# query = f'''select 
#     "customerName","internalExternalEN","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD", "dealNumber", "holding","currencyCode", "sourceSystem","presentAmountRUB","reportType",
# CASE
#         WHEN "bscCode" in ('130','135','BSC130','BSC135') 
#         THEN 'Trade receivables'
#         WHEN "bscCode" in ('160','165','BSC160','BSC165') 
#         THEN 'Advances to suppliers'
#         WHEN "bscCode" in ('170','175','BSC170','BSC175')
#         THEN 'Capital advances'
#         WHEN "bscCode" in ('140','145','BSC140','BSC145') 
#         THEN 'Other receivables'
#         WHEN "bscCode" in ('330','BSC330')
#         THEN 'Provisions'
#         WHEN "bscCode" in ('300','305','BSC300','BSC305') 
#         THEN 'Trade payables'
#         WHEN "bscCode" in ('310','315','BSC310','BSC315') 
#         THEN 'Other payables'
#         WHEN "bscCode" in ('360','365','BSC360','BSC365') 
#         THEN 'Advances received'
#         WHEN "bscCode" in ('350','355','BSC350','BSC355') 
#         THEN 'Loans received'
#         WHEN "bscCode" in ('210','215','BSC210','BSC215') 
#         THEN 'Loans issued'
#         WHEN "bscCode" in ('340','BSC340') 
#         THEN 'Tax'
#         WHEN "bscCode" in ('410','BSC410') 
#         THEN 'Pension'
#         ELSE 'Unknown'
#     END AS "accountPurpose"
# from RISKACCESS."unifiedARReport"
# where 
# --"companyCode" = 'RUNWT' and
#     "customerName" = 'TECNIMONT S.P.A.' and
#     "sourceSystem" in ('OEBS12_EU','ETL document loader','SAP_HRG') and
#     "rowType" = 'M' and
#     "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
# union all select
#      "customerName","internalExternalEN","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD", "dealNumber", "holding","currencyCode", "sourceSystem","presentAmountRUB","reportType",
# CASE
#         WHEN ("glAccount" like '62%' or "glAccount" IN (7699200310, 7699100210,4601000000, 4611000000, 1501010009, 1501010019, 1501010109, 1501010119, 2201010000,
#         2201010008, 2201010009, 2201010010, 2201010018, 2201010019, 2201011000, 2201011008, 2201011009, 2201011010, 2201011018, 2201011019, 2201010098, 2201010099,
#         2201020000, 2201020008, 2201030000, 2201030008, 2201010090, 2201010190, 2110000000, 2110000900, 2130000000, 2130000900, 2151000000, 2151000900, 2170000000,
#         2170000900, 1210000000, 1210000900, 1260000000, 2181000000, 2181000900))
#         THEN 'Trade receivables'
#         WHEN "glAccount" IN (6002770900, 6002090900, 6002020000, 6002020099, 6002080000, 6002090000, 6002050000, 6002020900, 6002070000, 6002070099, 6002770000,
#         6002050900, 6002070900, 6099000215, 6099000224, 6099000212, 6099000217, 6099000219, 6099000619, 6099000120, 6099000123, 6099000820, 6099000430, 6099000460,
#         6099000470, 6099000490, 7699100410, 6099000830, 6099000810, 6002030000, 6002040000, 6002030900, 6002040900, 6099000440, 6099000450, 6099000203, 6099000615, 
#         6002140000, 6002140099, 6099000616, 6002150000, 7610001900, 7610001000, 7610001099, 2301010100, 2301010108, 2301010110, 2301010118, 2301010200, 2301010208,
#         2301010210, 2301010218, 2301010300, 2301010308, 2301010400, 2301010408, 2301011100, 2301011108, 2301011110, 2301011118, 2301011200, 2301011208, 2301011210,
#         2301011218, 2301011300, 2301011308, 2302010000, 2302010007, 1611000000, 1613000000, 1615000000, 7610007900, 7610007000, 7610005000, 7699100620, 7699100420)
#         THEN 'Advances to suppliers'
#         WHEN "glAccount" IN (6002010000, 6002010099, 6002010900, 6099000612, 6099000211, 2301020100, 2301020108, 2301020110, 2301020118, 2301020200, 2301020208,
#         2301020210, 2301020218, 2301020300, 2301020308, 2301020310, 2301020318, 2301021100, 2301021108, 2301021110, 2301021118, 2301021200, 2301021208, 2301021210,
#         2301021218, 2301021300, 2301021308, 2301021310, 2301021318, 2301000008, 2301001008, 2302020000, 2302020007, 1612000000, 1614000000)
#         THEN 'Capital advances'
#         WHEN "glAccount" IN (6001089000, 7625003000, 7610003000, 7615003000, 7699100550, 6099000710, 7699200500, 7615004000, 7629009000, 7625013000, 7625013900,
#         7699100200, 7629000900, 7610406000, 7610406900, 7610405000, 7610405900, 7630707000, 7622020000, 7620801000, 7620801900, 7630705000, 7629000099, 7629000000,
#         7610004000, 7618000900, 7618000000, 6001080900, 6001080000, 7622010000, 7620703000, 7620704000, 7620701000, 7620701900, 7620702000, 7622030000, 7622040000,
#         7699900000, 7610500000, 7610500099, 7699100240, 7630702000, 7630703000, 7630706000, 7625006000, 7625007000, 7625001000, 7625001900, 7620200000, 7620200900,
#         2601030000, 2601030008, 2601040000, 2601040008, 2601050009, 2602000000, 2602000008, 2602000009, 2602000010, 2602000018, 2602000019, 2602001000, 2602001008,
#         2602001010, 2602001018, 2602010000, 2602010009, 2602060100, 2602000090, 2603000000, 2603000100, 36307060, 1284000000, 1284000900, 1630000000, 1282000000, 
#         1282000900, 1251000000, 2601010009, 2601020009)
#         THEN 'Other receivables'
#         WHEN "glAccount" IN (2201910000, 1290000000, 2190000000, 2301910100, 2602900000)
#         THEN 'Provisions'
#         WHEN ("glAccount" IN (1022200000))
#         THEN 'FX Spot'
#         WHEN ("glAccount" IN (1110009000, 1270000000, 1271000000, 2204000000, 2604010100, 2604020100, 2604021110, 2604021200, 7621156000))
#         THEN 'Loans issued'
#         WHEN ("glAccount" IN (1410000000, 1430010000, 1430030000, 1430050000, 1430060000, 1430070000))
#         THEN 'Tax'
#         WHEN ("glAccount" IN (2602000020))
#         THEN 'MTM Derivatives'        
#         WHEN ("glAccount" IN (7610300000))
#         THEN 'Dividends'        
#         WHEN ("glAccount" IN (7611102000))
#         THEN 'Capital expenses'       
#         ELSE 'Unknown'
#     END AS "accountPurpose"
# from RISKACCESS."unifiedARReport"
# where 
# --"companyCode" = 'RUNWT' and
#     "customerName" = 'TECNIMONT S.P.A.' and
#     ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
#     "rowType" = 'M' and
#     "reportType" = 'AR' and 
#     "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
# union all select
#  "customerName","internalExternalEN","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD", "dealNumber", "holding", "currencyCode", "sourceSystem","presentAmountRUB","reportType",
# CASE
#         WHEN "glAccount" like '63%'
#         THEN 'Provisions'
#         WHEN ("glAccount" IN (5201010100, 5201010110, 5201010200, 5201011100, 5201011110, 5201011200))
#         THEN 'Trade payables'
#         WHEN ("glAccount" IN (5501000000, 5501010000, 5502000000, 5503020000, 5503030000, 5503030010, 5503010000))
#         THEN 'Other payables'
#         WHEN ("glAccount" like '62%' or "glAccount" IN (5301010000, 5301010010, 7620002000, 0035100000))
#         THEN 'Advances received'
#         WHEN ("glAccount" like '60%' or "glAccount" IN (5101010100, 5101020110, 5101021110, 5104040000, 5109000000, 5503050000, 5505010200, 5505010210, 5505011210, 5505020100, 
#         7610101000, 7610402000, 7610404000, 7610405000, 7610601000, 7610603000, 7610691000, 7619000000, 7620002000, 0033970000, 0033500000, 0033600000, 0033960000, 0033140000,
#         0033130000, 0033120000, 0033110000, 0033800000, 0033950000, 0033970100))
#         THEN 'Other payables'
#         WHEN ("glAccount" IN (0032200000, 0032310000))
#         THEN 'Pension'
#         WHEN ("glAccount" IN (0032300000, 0032150000, 0032140000, 0032130000, 0032120000, 0032110000, 0031500000, 0033970200))
#         THEN 'Social'
#         WHEN ("glAccount" IN (0031940000, 0031930000, 0031920000, 0031910000, 0031800000, 0031700000, 0031600000, 0031330000, 0031320000, 0031220000, 0031210000, 0031100000))
#         THEN 'Tax'
#         WHEN ("glAccount" IN (0030200000))
#         THEN 'Loans received'
#         ELSE 'Unknown'
#     END AS "accountPurpose"
# from RISKACCESS."unifiedARReport"
# where 
# --"companyCode" = 'RUNWT' and
#     "customerName" = 'TECNIMONT S.P.A.' and
#     ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
#     "rowType" = 'M' and
#     "reportType" = 'AP' and 
#     "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
#     '''

# data_test_2 = export_from_RISKCUSTOM(query)

In [ ]:
# orgName_list = data_test_2.orgName.unique().tolist()
# data_test_2[data_test_2.orgName==orgName_list[2]]
# orgName_list

In [ ]:
# customerName_df = pd.DataFrame({'customerName':data_test_2.customerName.unique().tolist()}).sort_values('customerName')
# import re
# # customerName_df['name'] = 
# customerName_df[customerName_df.customerName.str.match(r'[tT]')]
# # customerName_df

In [ ]:
# data_test_2.to_excel(f'{str(date.today())}RUNWT_TECNIMONT S.P.A.xlsx')

In [ ]:
# CompCode_concat='''RUBGG
# EETNK
# EETNK
# RUNWT
# RUNWT'''
# Amount_AP_USD='''-375891960,1
# -7117958,5
# -6146883,88
# -61851846,27
# -4680,23'''


# part_data = data_work_pivot[(data_work_pivot.AP_flag==1)&(data_work_pivot.accountPurpose=='Other payables')&(data_work_pivot.CtyCode
# =='External')&(data_work_pivot.currencyCode=='EUR')&(data_work_pivot.CompCode_concat.isin(CompCode_concat.split('\n')))&(data_work_pivot.Amount_AP_USD.isin(list(map(float,Amount_AP_USD.replace(',','.').split('\n')))))]
# part_data.to_excel('EUR_long_term_AP_EuroChem.xlsx')

In [ ]:
# with open(path + '\\' + query_files_list[len(query_files_list)-1], 'r') as file:
#     query = file.read()
# all_cols_list = export_from_RISKCUSTOM(f'''SELECT * from RISKACCESS."unifiedARReport" fetch first 1 rows only''').columns.tolist()
# all_cols_list_str = str(all_cols_list).replace('\'','\"')[1:-1]
# query_SQL = f'''SELECT {all_cols_list_str},
#                                             {query}
#                                             AND "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')'''
# data_export_part = export_from_RISKCUSTOM(query_SQL)
# data_export_part.head(2)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

,##batch_id,##deleted,##inserted,##origin_name,rowType,reportType,reportDate,partyInternational,customerName,partnerCategoryRU,...,businessSegment,internalExternalEC,reportDateIfrsRateRUBBu,reportDateIfrsRateUSDRUB,reportDateIfrsRateUSDBu,presentAmountIfrsRUB,presentAmountIfrsUSD,reservPresentAmountUSD,reservPresentAmountRUB,accountPurpose
0,41932231@WHPROD,N,2024-11-11 10:47:27,WHFLEX,M,AP,2024-10-31,QUALLICAL INDUSTRIA E COMERCIO LTDA,QUALLICAL INDUSTRIA E COMERCIO LTDA,Неаффилированное лицо,...,EUROCHEM,External,16.986,0.010304,0.175018,-463669.22,-4777.48,0.0,0.0,Trade payables
1,41932231@WHPROD,N,2024-11-11 10:47:27,WHFLEX,M,AP,2024-10-31,QUALLICAL INDUSTRIA E COMERCIO LTDA,QUALLICAL INDUSTRIA E COMERCIO LTDA,Неаффилированное лицо,...,EUROCHEM,External,16.986,0.010304,0.175018,-688673.42,-7095.85,0.0,0.0,Trade payables

In [ ]:
# data_export_part[data_export_part.index.isin(np.concatenate(part_data.source_index.values).tolist())].to_excel('EUR_long_term_AP_EuroChem_full.xlsx')
# # data_work_pivot.columns