In [11]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\Working_attributes")
from Imports import * 
import pandas as pd

In [2]:
Today = '2024-07-31'

print_ARAP = True
print_manual_map = True
print_counterclaims = True
print_AR_sum = True
excel_tofolder_on_Z = True
print_to_control_file = False

In [18]:
query = f'''select 
    "customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding","currencyCode",
CASE
        WHEN "bscCode" in ('130','135','BSC130','BSC135') 
        THEN 'Trade receivables'
        WHEN "bscCode" in ('160','165','BSC160','BSC165') 
        THEN 'Advances to suppliers'
        WHEN "bscCode" in ('170','175','BSC170','BSC175')
        THEN 'Capital advances'
        WHEN "bscCode" in ('140','145','BSC140','BSC145') 
        THEN 'Other receivables'
        WHEN "bscCode" in ('330','BSC330')
        THEN 'Provisions'
        WHEN "bscCode" in ('300','305','BSC300','BSC305') 
        THEN 'Trade payables'
        WHEN "bscCode" in ('310','315','BSC310','BSC315') 
        THEN 'Other payables'
        WHEN "bscCode" in ('360','365','BSC360','BSC365') 
        THEN 'Advances received'
        WHEN "bscCode" in ('350','355','BSC350','BSC355') 
        THEN 'Loans received'
        WHEN "bscCode" in ('210','215','BSC210','BSC215') 
        THEN 'Loans issued'
        WHEN "bscCode" in ('340','BSC340') 
        THEN 'Tax'
        WHEN "bscCode" in ('410','BSC410') 
        THEN 'Pension'
        ELSE 'Unknown'
    END AS "accountPurpose"
from RISKACCESS."unifiedARReport"
where 
    "sourceSystem" in ('OEBS12_EU','ETL document loader','SAP_HRG') and
    "rowType" = 'M' and
    "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
union all select
     "customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding","currencyCode",
CASE
        WHEN ("glAccount" like '62%' or "glAccount" IN (7699200310, 7699100210,4601000000, 4611000000, 1501010009, 1501010019, 1501010109, 1501010119, 2201010000,
        2201010008, 2201010009, 2201010010, 2201010018, 2201010019, 2201011000, 2201011008, 2201011009, 2201011010, 2201011018, 2201011019, 2201010098, 2201010099,
        2201020000, 2201020008, 2201030000, 2201030008, 2201010090, 2201010190, 2110000000, 2110000900, 2130000000, 2130000900, 2151000000, 2151000900, 2170000000,
        2170000900, 1210000000, 1210000900, 1260000000, 2181000000, 2181000900))
        THEN 'Trade receivables'
        WHEN "glAccount" IN (6002770900, 6002090900, 6002020000, 6002020099, 6002080000, 6002090000, 6002050000, 6002020900, 6002070000, 6002070099, 6002770000,
        6002050900, 6002070900, 6099000215, 6099000224, 6099000212, 6099000217, 6099000219, 6099000619, 6099000120, 6099000123, 6099000820, 6099000430, 6099000460,
        6099000470, 6099000490, 7699100410, 6099000830, 6099000810, 6002030000, 6002040000, 6002030900, 6002040900, 6099000440, 6099000450, 6099000203, 6099000615, 
        6002140000, 6002140099, 6099000616, 6002150000, 7610001900, 7610001000, 7610001099, 2301010100, 2301010108, 2301010110, 2301010118, 2301010200, 2301010208,
        2301010210, 2301010218, 2301010300, 2301010308, 2301010400, 2301010408, 2301011100, 2301011108, 2301011110, 2301011118, 2301011200, 2301011208, 2301011210,
        2301011218, 2301011300, 2301011308, 2302010000, 2302010007, 1611000000, 1613000000, 1615000000, 7610007900, 7610007000, 7610005000, 7699100620, 7699100420)
        THEN 'Advances to suppliers'
        WHEN "glAccount" IN (6002010000, 6002010099, 6002010900, 6099000612, 6099000211, 2301020100, 2301020108, 2301020110, 2301020118, 2301020200, 2301020208,
        2301020210, 2301020218, 2301020300, 2301020308, 2301020310, 2301020318, 2301021100, 2301021108, 2301021110, 2301021118, 2301021200, 2301021208, 2301021210,
        2301021218, 2301021300, 2301021308, 2301021310, 2301021318, 2301000008, 2301001008, 2302020000, 2302020007, 1612000000, 1614000000)
        THEN 'Capital advances'
        WHEN "glAccount" IN (6001089000, 7625003000, 7610003000, 7615003000, 7699100550, 6099000710, 7699200500, 7615004000, 7629009000, 7625013000, 7625013900,
        7699100200, 7629000900, 7610406000, 7610406900, 7610405000, 7610405900, 7630707000, 7622020000, 7620801000, 7620801900, 7630705000, 7629000099, 7629000000,
        7610004000, 7618000900, 7618000000, 6001080900, 6001080000, 7622010000, 7620703000, 7620704000, 7620701000, 7620701900, 7620702000, 7622030000, 7622040000,
        7699900000, 7610500000, 7610500099, 7699100240, 7630702000, 7630703000, 7630706000, 7625006000, 7625007000, 7625001000, 7625001900, 7620200000, 7620200900,
        2601030000, 2601030008, 2601040000, 2601040008, 2601050009, 2602000000, 2602000008, 2602000009, 2602000010, 2602000018, 2602000019, 2602001000, 2602001008,
        2602001010, 2602001018, 2602010000, 2602010009, 2602060100, 2602000090, 2603000000, 2603000100, 36307060, 1284000000, 1284000900, 1630000000, 1282000000, 
        1282000900, 1251000000, 2601010009, 2601020009)
        THEN 'Other receivables'
        WHEN "glAccount" IN (2201910000, 1290000000, 2190000000, 2301910100, 2602900000)
        THEN 'Provisions'
        WHEN ("glAccount" IN (1022200000))
        THEN 'FX Spot'
        WHEN ("glAccount" IN (1110009000, 1270000000, 1271000000, 2204000000, 2604010100, 2604020100, 2604021110, 2604021200, 7621156000))
        THEN 'Loans issued'
        WHEN ("glAccount" IN (1410000000, 1430010000, 1430030000, 1430050000, 1430060000, 1430070000))
        THEN 'Tax'
        WHEN ("glAccount" IN (2602000020))
        THEN 'MTM Derivatives'        
        WHEN ("glAccount" IN (7610300000))
        THEN 'Dividends'        
        WHEN ("glAccount" IN (7611102000))
        THEN 'Capital expenses'       
        ELSE 'Unknown'
    END AS "accountPurpose"
from RISKACCESS."unifiedARReport"
where 
    ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
    "rowType" = 'M' and
    "reportType" = 'AR' and 
    "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
union all select
 "customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding", "currencyCode",
CASE
        WHEN "glAccount" like '63%'
        THEN 'Provisions'
        WHEN ("glAccount" IN (5201010100, 5201010110, 5201010200, 5201011100, 5201011110, 5201011200))
        THEN 'Trade payables'
        WHEN ("glAccount" IN (5501000000, 5501010000, 5502000000, 5503020000, 5503030000, 5503030010, 5503010000))
        THEN 'Other payables'
        WHEN ("glAccount" like '62%' or "glAccount" IN (5301010000, 5301010010, 7620002000, 0035100000))
        THEN 'Advances received'
        WHEN ("glAccount" like '60%' or "glAccount" IN (5101010100, 5101020110, 5101021110, 5104040000, 5109000000, 5503050000, 5505010200, 5505010210, 5505011210, 5505020100, 
        7610101000, 7610402000, 7610404000, 7610405000, 7610601000, 7610603000, 7610691000, 7619000000, 7620002000, 0033970000, 0033500000, 0033600000, 0033960000, 0033140000,
        0033130000, 0033120000, 0033110000, 0033800000, 0033950000, 0033970100))
        THEN 'Other payables'
        WHEN ("glAccount" IN (0032200000, 0032310000))
        THEN 'Pension'
        WHEN ("glAccount" IN (0032300000, 0032150000, 0032140000, 0032130000, 0032120000, 0032110000, 0031500000, 0033970200))
        THEN 'Social'
        WHEN ("glAccount" IN (0031940000, 0031930000, 0031920000, 0031910000, 0031800000, 0031700000, 0031600000, 0031330000, 0031320000, 0031220000, 0031210000, 0031100000))
        THEN 'Tax'
        WHEN ("glAccount" IN (0030200000))
        THEN 'Loans received'
        ELSE 'Unknown'
    END AS "accountPurpose"
from RISKACCESS."unifiedARReport"
where 
    ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
    "rowType" = 'M' and
    "reportType" = 'AP' and 
    "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
    '''

data_export = export_from_RISKCUSTOM(query)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [19]:
### ARAP:
data_work = data_export[:]
del data_export
data_work = data_work[data_work.holding!="EXTERNAL"].reset_index(drop=True)
# filter to only AR or AP and provisions
data_work = data_work[data_work.accountPurpose.isin(['Trade receivables', 'Other receivables', 'Provisions','Trade payables', 'Other payables'])]
# tech ccy to normal
data_work.currencyCode = data_work.currencyCode.replace(CCY_tech_dict) 
# drop na
data_work = data_work[~(data_work.orgName.isna() & data_work.companyCode.isna())].reset_index(drop=True)
# merge
data_work['CompCode_concat'] = data_work['companyCode'].fillna('External')
data_work['codeBUsap'] = data_work['codeBUsap'].fillna('External')
data_work.loc[data_work.CompCode_concat == 'External','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == 'External','codeBUsap']
data_work['org_code'] = merge_Mapping(data_work, col='orgName')
data_work.loc[data_work.CompCode_concat == 'External','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == 'External','org_code']
# data_work['CompCode_concat'] = data_work['companyCode'].fillna('')
# data_work.loc[data_work.CompCode_concat == '','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == '','org_code']
data_work['CompMap'] = merge_SalesUnits(data_work, col='CompCode_concat', merge_col='ocpSegment')

data_work['CtyCode'] = merge_Mapping(data_work, col='customerName').fillna('External')
data_work['CtyMap'] = merge_SalesUnits(data_work, col='CtyCode', merge_col='ocpSegment').fillna('External')
data_work['Cty_holding'] = merge_SalesUnits(data_work,'CtyCode',merge_col='holding').fillna('External')

data_work['Amount_USD'] = data_work['presentAmountUSD'].replace({np.nan : 0})

data_work_pivot = data_work.pivot_table(index=['holding','customerName', 'Cty_holding', 'orgName', 'CompCode_concat', 'currencyCode','accountPurpose', 'CompMap', 'CtyCode', 'CtyMap','dueDate'],values='Amount_USD',aggfunc=sum).reset_index()
del data_work

# data_work_pivot['AR_flag'] = data_work_pivot['accountPurpose']\
#                                             .isin(['Trade receivables', 'Other receivables', 'Provisions'])\
#                                             .astype(int)
# data_work_pivot['AP_flag'] = data_work_pivot['accountPurpose']\
#                                             .isin(['Trade payables', 'Other payables'])\
#                                             .astype(int)

# data_work_pivot['Amount_AR_USD'] = data_work_pivot['Amount_USD'] * data_work_pivot['AR_flag']
# data_work_pivot['Amount_AP_USD'] = data_work_pivot['Amount_USD'] * data_work_pivot['AP_flag']

data_work_pivot = Period(data_work_pivot, day_for_count=Today, col_with_date='dueDate')

#change order of columns
data_work_ARAP = data_work_pivot[['holding', 'customerName', 'CompCode_concat','currencyCode','accountPurpose','CompMap','CtyCode','CtyMap','Amount_USD', 'Days', 'Period']]
del data_work_pivot

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['EURSALES' 'EURSALES' 'EURSALES' ... 'SGC' 'SGC' 'SGC']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['RUFERT' 'RUFERT' 'EURSALES' ... 'SUEK RU' 'SUEK RU' 'SUEK RU']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['EUROCHEM' 'EUROCHEM' 'EUROCHEM' ... 'SUEK' 'SUEK' 'SUEK']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_18320\1931327618.py:27: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_pivot = data_work.pivot_table(index=['holding','customerName', 'Cty_holding', 'orgName', 'CompCode_concat', 'currencyCode','accountPurpose', 'CompMap', 'CtyCode', 'CtyMap','dueDate'],values='Amount_USD',aggfunc=sum).reset_index()

KeyError: "['sourceSystem', 'AR_flag', 'Amount_AR_USD', 'AP_flag', 'Amount_AP_USD'] not in index"

In [58]:
query = f'''
select 
"holding","counterpartyName","buCode","notionalCurrency","accountSubtype","ocpSegment","introgroupCounterpartyCode","counterpartySegment","volumeUsd","maturityDateToDays","timeBucket"

from RISKACCESS."unifiedOcp"
where 
"sourceTable" = 'unifiedARReport' and
"reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD') and
"rowType" = 'M'
'''

data_export_OCP = export_from_RISKCUSTOM(query)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [59]:
data_export_OCP.notionalCurrency = data_export_OCP.notionalCurrency.replace(CCY_tech_dict)  # techdict
data_export_OCP = data_export_OCP[data_export_OCP.holding!="EXTERNAL"] # holding filter
#pivot
cols_list = data_export_OCP.columns.tolist()
cols_list.remove('volumeUsd')
data_work_OCP = data_export_OCP.pivot_table(index=cols_list, values='volumeUsd',aggfunc=sum).reset_index()
del data_export_OCP

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_18320\3966878921.py:6: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_OCP = data_export_OCP.pivot_table(index=cols_list, values='volumeUsd',aggfunc=sum).reset_index()

In [60]:
data_work_ARAP.shape[0] - data_work_OCP.shape[0]

242924

In [114]:
data_work_ARAP_index = ['holding','CompMap','currencyCode','accountPurpose']
data_work_OCP_index = ['holding','ocpSegment','notionalCurrency','accountSubtype']
data_work_ARAP_pivot, data_work_OCP_pivot = data_work_ARAP.pivot_table(index = data_work_ARAP_index, values= 'Amount_USD', aggfunc=sum).reset_index(), data_work_OCP.pivot_table(index = data_work_OCP_index, values= 'volumeUsd', aggfunc=sum).reset_index()

data_BD_merge = data_work_ARAP_pivot.merge(data_work_OCP_pivot, how='outer', left_on=data_work_ARAP_index, right_on=data_work_OCP_index)
drop_list = ['ocpSegment','notionalCurrency','accountSubtype']
# data_BD_merge.loc[data_BD_merge.CompMap.isna(), ['CompMap','currencyCode','accountPurpose']] = data_BD_merge.loc[data_BD_merge.CompMap.isna(), drop_list]
data_BD_merge = data_BD_merge.drop(columns=drop_list)
del data_work_ARAP_pivot, data_work_OCP_pivot

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_18320\3347950441.py:3: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_ARAP_pivot, data_work_OCP_pivot = data_work_ARAP.pivot_table(index = data_work_ARAP_index, values= 'Amount_USD', aggfunc=sum).reset_index(), data_work_OCP.pivot_table(index = data_work_OCP_index, values= 'volumeUsd', aggfunc=sum).reset_index()
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_18320\3347950441.py:3: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_ARAP_pivot, data_work_OCP_pivot = data_work_ARAP.pivot_table(index = data_work_ARAP_index, values= 'Amount_USD', aggfunc=sum).reset_index(), data_work_OCP.pivot_table(index = data_work_OCP_index, values= 'volumeUsd', aggfunc=sum).reset_index()

In [115]:
data_BD_merge[['Amount_USD','volumeUsd']] = data_BD_merge[['Amount_USD','volumeUsd']].fillna(0)
data_BD_merge = is_approximately_equal_for_cols(data_BD_merge, 'Amount_USD', 'volumeUsd', tolerance=0.25)
data_BD_merge_false = data_BD_merge[data_BD_merge['Diff_more_0.25']==True]
data_BD_merge_false = concat_columns(data_BD_merge_false, data_work_ARAP_index)
concat_list = data_BD_merge_false.concat_columns.unique().tolist()

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['concat_columns'] = df[columns].astype(str).apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [107]:
# data_work_ARAP, data_work_OCP
data_work_ARAP = concat_columns(data_work_ARAP, data_work_ARAP_index)
data_work_OCP = concat_columns(data_work_OCP, data_work_OCP_index)

In [116]:
data_work_ARAP_index = data_work_ARAP_index + ['CompCode_concat', 'CtyCode']
data_work_OCP_index = data_work_OCP_index  + ['buCode', 'introgroupCounterpartyCode']
data_work_ARAP_pivot, data_work_OCP_pivot = data_work_ARAP[data_work_ARAP.concat_columns.isin(concat_list)].pivot_table(index = data_work_ARAP_index, values= 'Amount_USD', aggfunc=sum).reset_index(), data_work_OCP[data_work_OCP.concat_columns.isin(concat_list)].pivot_table(index = data_work_OCP_index, values= 'volumeUsd', aggfunc=sum).reset_index()

data_BD_merge_C_E = data_work_ARAP_pivot.merge(data_work_OCP_pivot, how='outer', left_on=data_work_ARAP_index, right_on=data_work_OCP_index)

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_18320\1499054267.py:3: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_ARAP_pivot, data_work_OCP_pivot = data_work_ARAP[data_work_ARAP.concat_columns.isin(concat_list)].pivot_table(index = data_work_ARAP_index, values= 'Amount_USD', aggfunc=sum).reset_index(), data_work_OCP[data_work_OCP.concat_columns.isin(concat_list)].pivot_table(index = data_work_OCP_index, values= 'volumeUsd', aggfunc=sum).reset_index()
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_18320\1499054267.py:3: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_ARAP_pivot, data_work_OCP_pivot = data_work_ARAP[data_work_ARAP.concat_columns.isin(concat_list)].pivot_table(index = data_work_ARAP_index, values= 'Amount_USD', aggfunc=sum).reset_index(), data_work_OCP[data_work_OCP.concat_columns.isin(concat_list)].pivot_table(index = data_work_OCP_index, values= 'volumeUsd', aggfunc=sum).reset_index()

In [117]:
del_list = ['ocpSegment','notionalCurrency','accountSubtype','buCode','introgroupCounterpartyCode']
map_list = ['CompMap','currencyCode','accountPurpose','CompCode_concat','CtyCode']
conditiin = data_BD_merge_C_E.Amount_USD.isna()
for counter in range(len(map_list)):
    data_BD_merge_C_E.loc[conditiin, map_list[counter]] = data_BD_merge_C_E.loc[conditiin, del_list[counter]]

data_BD_merge_C_E = data_BD_merge_C_E.drop(columns=del_list)
data_BD_merge_C_E

,holding,CompMap,currencyCode,accountPurpose,CompCode_concat,CtyCode,Amount_USD,volumeUsd
0,EUROCHEM,EURPROD,EUR,Other receivables,BEANF,CHTRD,-2.240570e+03,NaN
1,EUROCHEM,EURPROD,EUR,Other receivables,BEANF,External,5.977190e+04,NaN
2,EUROCHEM,EURPROD,EUR,Other receivables,LTLIF,7100,2.739391e+04,NaN
3,EUROCHEM,EURPROD,EUR,Other receivables,LTLIF,BEANF,8.219980e+03,8.219980e+03
4,EUROCHEM,EURPROD,EUR,Other receivables,LTLIF,CHEAG,NaN,6.570590e+03
...,...,...,...,...,...,...,...,...
2481,SUEK,SUEK RU,USD,Trade receivables,5N00,7B00,2.055947e+08,2.056561e+08
2482,SUEK,SUEK RU,USD,Trade receivables,5N00,External,4.227392e+08,NaN
2483,SUEK,SUEK RU,USD,Trade receivables,6100,External,2.251623e+06,NaN
2484,SUEK,SUEK RU,USD,Trade receivables,6700,7B00,6.080224e+07,5.991160e+07
2485,SUEK,SUEK RU,USD,Trade receivables,6700,External,9.632584e+07,NaN

In [122]:
data_BD_merge_C_E[['Amount_USD','volumeUsd']] = data_BD_merge_C_E[['Amount_USD','volumeUsd']].fillna(0)

data_BD_merge_C_E = is_approximately_equal_for_cols(data_BD_merge_C_E, 'Amount_USD','volumeUsd')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2153485391.py, line 4)

In [127]:
data_BD_merge_C_E_false = data_BD_merge_C_E[data_BD_merge_C_E['Diff_more_0.4']==True]
data_BD_merge_C_E_false[(data_BD_merge_C_E_false.Amount_USD!=0)&(data_BD_merge_C_E_false.volumeUsd!=0)]

,holding,CompMap,currencyCode,accountPurpose,CompCode_concat,CtyCode,Amount_USD,volumeUsd,Diff_more_0.4
67,EUROCHEM,EURSALES,EUR,Other receivables,LTEBL,LTEBL,-1.455192e-11,2.376428e+05,True
96,EUROCHEM,EURSALES,EUR,Trade receivables,DEEAG,ITEAG,1.215944e+07,1.561138e+06,True
511,EUROCHEM,RUFERT,RUB,Other payables,RUNCA,RUNEV,-3.249400e+03,-1.232190e+03,True
532,EUROCHEM,RUFERT,RUB,Other payables,RUNEV,RUEMO,-4.152883e+06,-8.033207e+06,True
691,EUROCHEM,RUFERT,RUB,Other receivables,RUPRO,5N00,2.562579e+05,4.926401e+04,True
742,EUROCHEM,RUFERT,RUB,Trade receivables,RUAZT,3D00,1.662850e+03,1.400000e+00,True
770,EUROCHEM,RUFERT,RUB,Trade receivables,RUEMO,RUESZ,1.207198e+06,2.568389e+06,True
773,EUROCHEM,RUFERT,RUB,Trade receivables,RUEMO,RUNAK,5.474675e+06,1.189926e+07,True
775,EUROCHEM,RUFERT,RUB,Trade receivables,RUEMO,RUNEV,3.987995e+06,7.867543e+06,True
779,EUROCHEM,RUFERT,RUB,Trade receivables,RUEMO,RUVGK,1.249637e+06,4.482955e+06,True
834,EUROCHEM,RUFERT,RUB,Trade receivables,RUKUS,RUBMZ,1.781350e+03,9.226563e+02,True
910,EUROCHEM,RUFERT,RUB,Trade receivables,RUORF,RURKN,3.554877e+04,1.383168e+04,True
965,EUROCHEM,RUFERT,RUB,Trade receivables,RURNM,RUVGK,2.943852e+06,1.587296e+06,True
1017,EUROCHEM,RUFERT,RUB,Trade receivables,RUZEL,RUNEV,6.779055e+04,3.138735e+04,True
1086,EUROCHEM,SAMSALES,BRL,Trade payables,BRHRG,BRFTO,-5.248577e+06,-1.451704e+06,True
1197,SUEK,NTC,RUB,Other payables,9200,RUDPO,-1.666961e+05,-2.791949e+05,True
1227,SUEK,NTC,RUB,Other payables,9F00,9H00,-2.728484e-12,4.547474e-13,True
1270,SUEK,NTC,RUB,Trade receivables,1N00,RUKUS,1.999598e+06,4.467073e+06,True
1274,SUEK,NTC,RUB,Trade receivables,1N00,RUNEV,4.862944e+05,1.129055e+06,True
1378,SUEK,SGC,RUB,Other payables,R100,VH00,-2.280900e+02,-1.167093e+02,True
1382,SUEK,SGC,RUB,Other payables,U100,1S00,-1.452897e+05,-6.318544e+05,True
1546,SUEK,SGC,RUB,Other payables,VG00,1300,1.000000e-02,2.273737e-13,True
1567,SUEK,SGC,RUB,Other payables,W100,1300,-4.026206e+04,-5.831216e+02,True
1587,SUEK,SGC,RUB,Other payables,W100,Y100,-4.698080e+03,-7.106714e+02,True
1678,SUEK,SGC,RUB,Other receivables,W100,1S00,2.647468e+04,4.699764e+03,True
1717,SUEK,SGC,RUB,Trade receivables,1300,2400,7.804200e+02,-2.199330e+04,True
1718,SUEK,SGC,RUB,Trade receivables,1300,2U00,6.340300e+02,2.557639e+02,True
1719,SUEK,SGC,RUB,Trade receivables,1300,3200,2.356113e+05,8.910643e+04,True
1722,SUEK,SGC,RUB,Trade receivables,1300,4100,-7.275958e-12,-1.354774e+04,True
1724,SUEK,SGC,RUB,Trade receivables,1300,4U00,2.842171e-14,-2.536083e+02,True
1727,SUEK,SGC,RUB,Trade receivables,1300,5N00,5.334605e+06,2.390266e+06,True
1728,SUEK,SGC,RUB,Trade receivables,1300,6100,1.467121e+04,3.153073e+03,True
1729,SUEK,SGC,RUB,Trade receivables,1300,6700,1.164153e-10,-7.243339e+05,True
1730,SUEK,SGC,RUB,Trade receivables,1300,6A00,4.043198e+05,2.811819e+04,True
1731,SUEK,SGC,RUB,Trade receivables,1300,8200,3.779707e+04,2.515578e+03,True
1736,SUEK,SGC,RUB,Trade receivables,1300,R100,6.214921e+05,-1.164153e-10,True
1738,SUEK,SGC,RUB,Trade receivables,1300,U100,6.719997e+04,2.546402e+02,True
1740,SUEK,SGC,RUB,Trade receivables,1300,V100,2.635405e+05,9.261846e+04,True
1741,SUEK,SGC,RUB,Trade receivables,1300,V300,-1.776357e-15,-3.266710e+01,True
1743,SUEK,SGC,RUB,Trade receivables,1300,VH00,5.488720e+03,2.273737e-13,True
1815,SUEK,SGC,RUB,Trade receivables,R100,UB00,7.503507e+05,6.979378e+04,True
1824,SUEK,SGC,RUB,Trade receivables,U100,U200,8.255871e+05,1.824210e+05,True
1830,SUEK,SGC,RUB,Trade receivables,U100,UB00,1.742587e+05,1.518225e+03,True
1840,SUEK,SGC,RUB,Trade receivables,U300,U100,2.343992e+05,2.299284e+03,True
1881,SUEK,SGC,RUB,Trade receivables,U900,U100,6.769201e+04,5.041615e+03,True
1892,SUEK,SGC,RUB,Trade receivables,V100,UB00,6.135443e+05,5.977733e+02,True
1923,SUEK,SGC,RUB,Trade receivables,VG00,V100,1.347962e+05,-4.429047e+05,True
1968,SUEK,SGC,RUB,Trade receivables,Y300,U600,7.684000e+01,-3.596772e+02,True
1991,SUEK,SGC,RUB,Trade receivables,Y800,U100,1.875960e+04,9.706789e+03,True
2017,SUEK,SUEK INT,USD,Other payables,7B00,4F00,-2.911334e+07,-1.395969e+07,True
2040,SUEK,SUEK RU,CNY,Other payables,6700,1S00,-1.082190e+05,-1.092513e+04,True
2095,SUEK,SUEK RU,RUB,Other payables,1600,3200,-6.254740e+04,-1.547388e+01,True
2103,SUEK,SUEK RU,RUB,Other payables,1I00,RUNAK,-3.552714e-15,1.598721e-14,True
2267,SUEK,SUEK RU,RUB,Other payables,4H00,1100,-4.115559e+04,-3.411816e+03,True
2388,SUEK,SUEK RU,RUB,Other payables,6B00,6100,-5.523003e+05,-2.417715e+05,True
2409,SUEK,SUEK RU,RUB,Provisions,2800,RUTRU,-1.000000e-02,-4.547474e-13,True

In [129]:
### to excel
Output_file = f'{str(date.today())}_unifiedOcp_vs_unifiedARReport_.xlsx'
with pd.ExcelWriter(engine='openpyxl', path=Output_file) as writer:
    data_BD_merge.to_excel(writer, index= False, sheet_name='Segment_to_segment')
    data_work_ARAP.to_excel(writer, index= False, sheet_name='unifiedARReport')
    data_work_OCP.to_excel(writer, index= False, sheet_name='unifiedOcp')
    data_BD_merge_C_E_false.to_excel(writer, index= False, sheet_name='BU_to_cty')

In [128]:
data_BD_merge

,holding,CompMap,currencyCode,accountPurpose,Amount_USD,volumeUsd,Diff_more_0.25
0,EUROCHEM,EURPROD,EUR,Other payables,-1.004404e+07,-9.384471e+06,False
1,EUROCHEM,EURPROD,EUR,Other receivables,3.852352e+06,1.479057e+04,True
2,EUROCHEM,EURPROD,EUR,Provisions,-1.616704e+06,0.000000e+00,True
3,EUROCHEM,EURPROD,EUR,Trade payables,-6.177780e+07,-2.432277e+07,True
4,EUROCHEM,EURPROD,EUR,Trade receivables,7.007019e+07,1.741220e+07,True
...,...,...,...,...,...,...,...
179,SUEK,SUEK RU,RUB,Provisions,-1.394058e+07,-8.378497e+03,True
180,SUEK,SUEK RU,RUB,Trade receivables,5.495199e+08,4.847871e+08,False
181,SUEK,SUEK RU,USD,Other payables,-5.348712e+07,-2.975925e+05,True
182,SUEK,SUEK RU,USD,Other receivables,3.408113e+07,3.407965e+07,False
183,SUEK,SUEK RU,USD,Trade receivables,1.159639e+09,3.564370e+08,True