In [1]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\Working_attributes")
from Imports import * 
import pandas as pd

In [2]:
Today = '2024-07-31'

print_to_excel = False

In [3]:
query = f'''select 
    "customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding","currencyCode",
CASE
        WHEN "bscCode" in ('130','135','BSC130','BSC135') 
        THEN 'Trade receivables'
        WHEN "bscCode" in ('160','165','BSC160','BSC165') 
        THEN 'Advances to suppliers'
        WHEN "bscCode" in ('170','175','BSC170','BSC175')
        THEN 'Capital advances'
        WHEN "bscCode" in ('140','145','BSC140','BSC145') 
        THEN 'Other receivables'
        WHEN "bscCode" in ('330','BSC330')
        THEN 'Provisions'
        WHEN "bscCode" in ('300','305','BSC300','BSC305') 
        THEN 'Trade payables'
        WHEN "bscCode" in ('310','315','BSC310','BSC315') 
        THEN 'Other payables'
        WHEN "bscCode" in ('360','365','BSC360','BSC365') 
        THEN 'Advances received'
        WHEN "bscCode" in ('350','355','BSC350','BSC355') 
        THEN 'Loans received'
        WHEN "bscCode" in ('210','215','BSC210','BSC215') 
        THEN 'Loans issued'
        WHEN "bscCode" in ('340','BSC340') 
        THEN 'Tax'
        WHEN "bscCode" in ('410','BSC410') 
        THEN 'Pension'
        ELSE 'Unknown'
    END AS "accountPurpose"
from RISKACCESS."unifiedARReport"
where 
    "sourceSystem" in ('OEBS12_EU','ETL document loader','SAP_HRG') and
    "rowType" = 'M' and
    "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
union all select
     "customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding","currencyCode",
CASE
        WHEN ("glAccount" like '62%' or "glAccount" IN (7699200310, 7699100210,4601000000, 4611000000, 1501010009, 1501010019, 1501010109, 1501010119, 2201010000,
        2201010008, 2201010009, 2201010010, 2201010018, 2201010019, 2201011000, 2201011008, 2201011009, 2201011010, 2201011018, 2201011019, 2201010098, 2201010099,
        2201020000, 2201020008, 2201030000, 2201030008, 2201010090, 2201010190, 2110000000, 2110000900, 2130000000, 2130000900, 2151000000, 2151000900, 2170000000,
        2170000900, 1210000000, 1210000900, 1260000000, 2181000000, 2181000900))
        THEN 'Trade receivables'
        WHEN "glAccount" IN (6002770900, 6002090900, 6002020000, 6002020099, 6002080000, 6002090000, 6002050000, 6002020900, 6002070000, 6002070099, 6002770000,
        6002050900, 6002070900, 6099000215, 6099000224, 6099000212, 6099000217, 6099000219, 6099000619, 6099000120, 6099000123, 6099000820, 6099000430, 6099000460,
        6099000470, 6099000490, 7699100410, 6099000830, 6099000810, 6002030000, 6002040000, 6002030900, 6002040900, 6099000440, 6099000450, 6099000203, 6099000615, 
        6002140000, 6002140099, 6099000616, 6002150000, 7610001900, 7610001000, 7610001099, 2301010100, 2301010108, 2301010110, 2301010118, 2301010200, 2301010208,
        2301010210, 2301010218, 2301010300, 2301010308, 2301010400, 2301010408, 2301011100, 2301011108, 2301011110, 2301011118, 2301011200, 2301011208, 2301011210,
        2301011218, 2301011300, 2301011308, 2302010000, 2302010007, 1611000000, 1613000000, 1615000000, 7610007900, 7610007000, 7610005000, 7699100620, 7699100420)
        THEN 'Advances to suppliers'
        WHEN "glAccount" IN (6002010000, 6002010099, 6002010900, 6099000612, 6099000211, 2301020100, 2301020108, 2301020110, 2301020118, 2301020200, 2301020208,
        2301020210, 2301020218, 2301020300, 2301020308, 2301020310, 2301020318, 2301021100, 2301021108, 2301021110, 2301021118, 2301021200, 2301021208, 2301021210,
        2301021218, 2301021300, 2301021308, 2301021310, 2301021318, 2301000008, 2301001008, 2302020000, 2302020007, 1612000000, 1614000000)
        THEN 'Capital advances'
        WHEN "glAccount" IN (6001089000, 7625003000, 7610003000, 7615003000, 7699100550, 6099000710, 7699200500, 7615004000, 7629009000, 7625013000, 7625013900,
        7699100200, 7629000900, 7610406000, 7610406900, 7610405000, 7610405900, 7630707000, 7622020000, 7620801000, 7620801900, 7630705000, 7629000099, 7629000000,
        7610004000, 7618000900, 7618000000, 6001080900, 6001080000, 7622010000, 7620703000, 7620704000, 7620701000, 7620701900, 7620702000, 7622030000, 7622040000,
        7699900000, 7610500000, 7610500099, 7699100240, 7630702000, 7630703000, 7630706000, 7625006000, 7625007000, 7625001000, 7625001900, 7620200000, 7620200900,
        2601030000, 2601030008, 2601040000, 2601040008, 2601050009, 2602000000, 2602000008, 2602000009, 2602000010, 2602000018, 2602000019, 2602001000, 2602001008,
        2602001010, 2602001018, 2602010000, 2602010009, 2602060100, 2602000090, 2603000000, 2603000100, 36307060, 1284000000, 1284000900, 1630000000, 1282000000, 
        1282000900, 1251000000, 2601010009, 2601020009)
        THEN 'Other receivables'
        WHEN "glAccount" IN (2201910000, 1290000000, 2190000000, 2301910100, 2602900000)
        THEN 'Provisions'
        WHEN ("glAccount" IN (1022200000))
        THEN 'FX Spot'
        WHEN ("glAccount" IN (1110009000, 1270000000, 1271000000, 2204000000, 2604010100, 2604020100, 2604021110, 2604021200, 7621156000))
        THEN 'Loans issued'
        WHEN ("glAccount" IN (1410000000, 1430010000, 1430030000, 1430050000, 1430060000, 1430070000))
        THEN 'Tax'
        WHEN ("glAccount" IN (2602000020))
        THEN 'MTM Derivatives'        
        WHEN ("glAccount" IN (7610300000))
        THEN 'Dividends'        
        WHEN ("glAccount" IN (7611102000))
        THEN 'Capital expenses'       
        ELSE 'Unknown'
    END AS "accountPurpose"
from RISKACCESS."unifiedARReport"
where 
    ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
    "rowType" = 'M' and
    "reportType" = 'AR' and 
    "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
union all select
 "customerName","orgName", "companyCode","codeBUsap", "dueDate", "presentAmountUSD","holding", "currencyCode",
CASE
        WHEN "glAccount" like '63%'
        THEN 'Provisions'
        WHEN ("glAccount" IN (5201010100, 5201010110, 5201010200, 5201011100, 5201011110, 5201011200))
        THEN 'Trade payables'
        WHEN ("glAccount" IN (5501000000, 5501010000, 5502000000, 5503020000, 5503030000, 5503030010, 5503010000))
        THEN 'Other payables'
        WHEN ("glAccount" like '62%' or "glAccount" IN (5301010000, 5301010010, 7620002000, 0035100000))
        THEN 'Advances received'
        WHEN ("glAccount" like '60%' or "glAccount" IN (5101010100, 5101020110, 5101021110, 5104040000, 5109000000, 5503050000, 5505010200, 5505010210, 5505011210, 5505020100, 
        7610101000, 7610402000, 7610404000, 7610405000, 7610601000, 7610603000, 7610691000, 7619000000, 7620002000, 0033970000, 0033500000, 0033600000, 0033960000, 0033140000,
        0033130000, 0033120000, 0033110000, 0033800000, 0033950000, 0033970100))
        THEN 'Other payables'
        WHEN ("glAccount" IN (0032200000, 0032310000))
        THEN 'Pension'
        WHEN ("glAccount" IN (0032300000, 0032150000, 0032140000, 0032130000, 0032120000, 0032110000, 0031500000, 0033970200))
        THEN 'Social'
        WHEN ("glAccount" IN (0031940000, 0031930000, 0031920000, 0031910000, 0031800000, 0031700000, 0031600000, 0031330000, 0031320000, 0031220000, 0031210000, 0031100000))
        THEN 'Tax'
        WHEN ("glAccount" IN (0030200000))
        THEN 'Loans received'
        ELSE 'Unknown'
    END AS "accountPurpose"
from RISKACCESS."unifiedARReport"
where 
    ("sourceSystem" = 'SAP ERP' or "sourceSystem" = 'SAP ECP') and
    "rowType" = 'M' and
    "reportType" = 'AP' and 
    "reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD')  
    '''

data_export = export_from_RISKCUSTOM(query)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [4]:
### ARAP:
data_work = data_export[:]
del data_export
data_work = data_work[data_work.holding!="EXTERNAL"].reset_index(drop=True)
# filter to only AR or AP and provisions
data_work = data_work[data_work.accountPurpose.isin(['Trade receivables', 'Other receivables', 'Provisions','Trade payables', 'Other payables'])]
# tech ccy to normal
data_work.currencyCode = data_work.currencyCode.replace(CCY_tech_dict) 
# drop na
data_work = data_work[~(data_work.orgName.isna() & data_work.companyCode.isna())].reset_index(drop=True)
# merge
data_work['CompCode_concat'] = data_work['companyCode'].fillna('External')
data_work['codeBUsap'] = data_work['codeBUsap'].fillna('External')
data_work.loc[data_work.CompCode_concat == 'External','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == 'External','codeBUsap']
data_work['org_code'] = merge_Mapping(data_work, col='orgName')
data_work.loc[data_work.CompCode_concat == 'External','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == 'External','org_code']
# data_work['CompCode_concat'] = data_work['companyCode'].fillna('')
# data_work.loc[data_work.CompCode_concat == '','CompCode_concat'] = data_work.loc[data_work.CompCode_concat == '','org_code']
data_work['CompMap'] = merge_SalesUnits(data_work, col='CompCode_concat', merge_col='ocpSegment')

data_work['CtyCode'] = merge_Mapping(data_work, col='customerName').fillna('External')
data_work['CtyMap'] = merge_SalesUnits(data_work, col='CtyCode', merge_col='ocpSegment').fillna('External')
data_work['Cty_holding'] = merge_SalesUnits(data_work,'CtyCode',merge_col='holding').fillna('External')

data_work['Amount_USD'] = data_work['presentAmountUSD'].replace({np.nan : 0})

index_list=['holding','customerName', 'Cty_holding', 'orgName', 'CompCode_concat', 'currencyCode','accountPurpose', 'CompMap', 'CtyCode', 'CtyMap','dueDate']
# data_work_pivot = data_work.pivot_table(dropna=False, index=index_list,values='Amount_USD',aggfunc=sum).reset_index()
data_work_pivot = data_work.groupby(index_list, as_index=False,dropna=False).Amount_USD.apply('sum')
del data_work

# data_work_pivot['AR_flag'] = data_work_pivot['accountPurpose']\
#                                             .isin(['Trade receivables', 'Other receivables', 'Provisions'])\
#                                             .astype(int)
# data_work_pivot['AP_flag'] = data_work_pivot['accountPurpose']\
#                                             .isin(['Trade payables', 'Other payables'])\
#                                             .astype(int)

# data_work_pivot['Amount_AR_USD'] = data_work_pivot['Amount_USD'] * data_work_pivot['AR_flag']
# data_work_pivot['Amount_AP_USD'] = data_work_pivot['Amount_USD'] * data_work_pivot['AP_flag']

data_work_pivot = Period(data_work_pivot, day_for_count=Today, col_with_date='dueDate')

#change order of columns
data_work_ARAP = data_work_pivot[['holding', 'customerName', 'CompCode_concat','currencyCode','accountPurpose','CompMap','CtyCode','CtyMap','Amount_USD', 'Days', 'Period']]
del data_work_pivot

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['EURSALES' 'EURSALES' 'EURSALES' ... 'SGC' 'SGC' 'SGC']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['RUFERT' 'RUFERT' 'TRADING' ... 'SUEK RU' 'SUEK RU' 'SUEK RU']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['EUROCHEM' 'EUROCHEM' 'EUROCHEM' ... 'SUEK' 'SUEK' 'SUEK']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']

In [23]:
query = f'''
select 
"holding","counterpartyName","buCode","notionalCurrency","accountSubtype","ocpSegment","introgroupCounterpartyCode","counterpartySegment","volumeUsd","maturityDateToDays","timeBucket"

from RISKACCESS."unifiedOcp"
where 
"sourceTable" = 'unifiedARReport' and
"reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD') and
"rowType" = 'M'
'''

data_export_OCP = export_from_RISKCUSTOM(query)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [24]:
data_export_OCP.notionalCurrency = data_export_OCP.notionalCurrency.replace(CCY_tech_dict)  # techdict
data_export_OCP = data_export_OCP[data_export_OCP.holding!="EXTERNAL"] # holding filter
#pivot
cols_list = data_export_OCP.columns.tolist()

cols_list_pivot = cols_list[:]
cols_list_pivot.remove('volumeUsd')
# data_work_OCP = data_export_OCP.pivot_table(index=cols_list_pivot, values='volumeUsd',aggfunc=sum, dropna=False).reset_index()
data_work_OCP = data_export_OCP.groupby(cols_list_pivot, as_index=False,dropna=False).volumeUsd.apply('sum')
del data_export_OCP
# fillna CtyCode
data_work_OCP.introgroupCounterpartyCode = data_work_OCP.introgroupCounterpartyCode.fillna('External')

In [51]:
# dropna
data_work_OCP = data_work_OCP[data_work_OCP.volumeUsd!=0].reset_index(drop=True)
data_work_ARAP = data_work_ARAP[data_work_ARAP.Amount_USD!=0].reset_index(drop=True)
data_work_ARAP.shape[0] - data_work_OCP.shape[0]

-713

In [66]:
## pivot by segments
data_work_ARAP_index = ['holding','CompMap','currencyCode','accountPurpose']
data_work_OCP_index = ['holding','ocpSegment','notionalCurrency','accountSubtype']
data_work_ARAP_pivot = data_work_ARAP.groupby(data_work_ARAP_index, dropna=False, as_index=False)['Amount_USD'].apply(sum)
data_work_OCP_pivot = data_work_OCP.groupby(data_work_OCP_index, dropna=False, as_index=False)['volumeUsd'].apply(sum)
# merge
data_BD_merge = data_work_ARAP_pivot.merge(data_work_OCP_pivot, how='outer', left_on=data_work_ARAP_index, right_on=data_work_OCP_index)
# fill na on the left side
map_list = ['CompMap','currencyCode','accountPurpose']
drop_list = ['ocpSegment','notionalCurrency','accountSubtype']
conditiin = data_BD_merge.Amount_USD.isna()
for counter in range(len(map_list)):
    data_BD_merge.loc[conditiin, map_list[counter]] = data_BD_merge.loc[conditiin, drop_list[counter]]
data_BD_merge = data_BD_merge.drop(columns=drop_list)
# del variables to keep memory
del data_work_ARAP_pivot, data_work_OCP_pivot
# choose data with huge differences
data_BD_merge[['Amount_USD','volumeUsd']] = data_BD_merge[['Amount_USD','volumeUsd']].fillna(0)
data_BD_merge = is_approximately_equal_for_cols(data_BD_merge, 'Amount_USD', 'volumeUsd', tolerance=0.25)
data_BD_merge_false = data_BD_merge[data_BD_merge['Diff_more_0.25']==True]
# concat columns to find them on the next step
data_BD_merge_false = concat_columns(data_BD_merge_false, data_work_ARAP_index)
concat_list = data_BD_merge_false.concat_columns.unique().tolist()
# concat columns in main data
data_work_ARAP = concat_columns(data_work_ARAP, data_work_ARAP_index)
data_work_OCP = concat_columns(data_work_OCP, data_work_OCP_index)

## pivot by BU and cpty
data_work_ARAP_index = data_work_ARAP_index + ['CompCode_concat', 'CtyCode']
data_work_OCP_index = data_work_OCP_index  + ['buCode', 'introgroupCounterpartyCode']
data_work_ARAP['index_ARAP'] = data_work_ARAP.index
data_work_ARAP_pivot = data_work_ARAP[data_work_ARAP.concat_columns.isin(concat_list)].groupby(data_work_ARAP_index, dropna=False, as_index=False)[['Amount_USD', 'index_ARAP']].agg({'Amount_USD':sum, 'index_ARAP':list})
data_work_OCP_pivot = data_work_OCP[data_work_OCP.concat_columns.isin(concat_list)].groupby(data_work_OCP_index, dropna=False, as_index=False)['volumeUsd'].apply(sum)
# merge
data_BD_merge_C_E = data_work_ARAP_pivot.merge(data_work_OCP_pivot, how='outer', left_on=data_work_ARAP_index, right_on=data_work_OCP_index)
# drop na from the left
del_list = ['ocpSegment','notionalCurrency','accountSubtype','buCode','introgroupCounterpartyCode']
map_list = ['CompMap','currencyCode','accountPurpose','CompCode_concat','CtyCode']
conditiin = data_BD_merge_C_E.Amount_USD.isna()
for counter in range(len(map_list)):
    data_BD_merge_C_E.loc[conditiin, map_list[counter]] = data_BD_merge_C_E.loc[conditiin, del_list[counter]]
data_BD_merge_C_E = data_BD_merge_C_E.drop(columns=del_list)
# compaire values
data_BD_merge_C_E[['Amount_USD','volumeUsd']] = data_BD_merge_C_E[['Amount_USD','volumeUsd']].fillna(0)
data_BD_merge_C_E = is_approximately_equal_for_cols(data_BD_merge_C_E, 'Amount_USD','volumeUsd')
data_BD_merge_C_E_false = data_BD_merge_C_E[data_BD_merge_C_E['Diff_more_0.4']==True]
# data_BD_merge_C_E_false[(data_BD_merge_C_E_false.Amount_USD!=0)&(data_BD_merge_C_E_false.volumeUsd!=0)]

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15400\1321357506.py:4: FutureWarning: The provided callable <built-in function sum> is currently using np.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.sum instead.
  data_work_ARAP_pivot = data_work_ARAP.groupby(data_work_ARAP_index, dropna=False, as_index=False)['Amount_USD'].apply(sum)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15400\1321357506.py:5: FutureWarning: The provided callable <built-in function sum> is currently using np.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.sum instead.
  data_work_OCP_pivot = data_work_OCP.groupby(data_work_OCP_index, dropna=False, as_index=False)['volumeUsd'].apply(sum)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['concat_columns'] = df[columns].astype(str).apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15400\1321357506.py:32: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_work_ARAP_pivot = data_work_ARAP[data_work_ARAP.concat_columns.isin(concat_list)].groupby(data_work_ARAP_index, dropna=False, as_index=False)[['Amount_USD', 'index_ARAP']].agg({'Amount_USD':sum, 'index_ARAP':list})
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15400\1321357506.py:33: FutureWarning: The provided callable <built-in function sum> is currently using np.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.sum instead.
  data_work_OCP_pivot = data_work_OCP[data_work_OCP.concat_columns.isin(concat_list)].groupby(data_work_OCP_index, dropna=False, as_index=False)['volumeUsd'].apply(sum)

In [72]:
data_BD_merge_C_E_false[data_BD_merge_C_E_false.CtyCode.isna()]
data_work_OCP_pivot[data_work_OCP_pivot.volumeUsd.isna()]
data_work_ARAP_pivot[data_work_ARAP_pivot.Amount_USD.isna()]
# data_work_ARAP_pivot
data_BD_merge_C_E[data_BD_merge_C_E.CtyCode.isna()]
data_BD_merge
data_BD_merge_C_E

,holding,CompMap,currencyCode,accountPurpose,CompCode_concat,CtyCode,Amount_USD,index_ARAP,volumeUsd,Diff_more_0.4
0,EUROCHEM,EURPROD,EUR,Provisions,LTLIF,External,-1616704.03,[16426],0.000000,True
1,EUROCHEM,EURPROD,USD,Provisions,LTLIF,External,-7629682.10,"[944, 1762, 2750, 12058, 16790, 19905]",0.000000,True
2,EUROCHEM,EURSALES,EUR,Other receivables,DEEAG,7100,10319.86,[20649],0.000000,True
3,EUROCHEM,EURSALES,EUR,Other receivables,DEEAG,BGAGR,2034.53,"[7116, 7117, 7118, 7119, 7120, 7121, 7122, 712...",0.000000,True
4,EUROCHEM,EURSALES,EUR,Other receivables,DEEAG,CHEAG,3764924.58,"[7311, 8969, 8970, 8971]",0.000000,True
...,...,...,...,...,...,...,...,...,...,...
138,SUEK,SUEK RU,CNY,Other payables,5400,External,-37191.22,"[152659, 167738, 167739, 178705, 178706, 178707]",-3754.599535,True
139,SUEK,SUEK RU,CNY,Other payables,5N00,External,-1699406.88,"[145887, 145888, 151838, 154992, 155972, 15936...",-171561.755874,True
140,SUEK,SUEK RU,CNY,Other payables,6100,External,-178146.23,[189470],-17984.557053,True
141,SUEK,SUEK RU,CNY,Other payables,6700,1S00,-108218.99,[177020],-10925.129106,True
142,SUEK,SUEK RU,CNY,Other payables,6700,External,-676420.87,"[172304, 172305, 176356, 176357, 176835, 18784...",-68287.326128,True

In [9]:
index_list = np.concatenate(data_BD_merge_C_E_false[data_BD_merge_C_E_false.volumeUsd==0].index_ARAP.tolist(), axis=0)
full_data_no_in_OCP = data_work_ARAP[data_work_ARAP.index_ARAP.isin(index_list)]

In [10]:
### to excel
data_BD_merge_print = data_BD_merge[(data_BD_merge.Amount_USD!=0)&(data_BD_merge.volumeUsd!=0)]
if print_to_excel == True:
    Output_file = f'{str(date.today())}_unifiedOcp_vs_unifiedARReport_.xlsx'
    with pd.ExcelWriter(engine='openpyxl', path=Output_file) as writer:
        data_BD_merge_print.to_excel(writer, index= False, sheet_name='Segment_to_segment')
        data_work_ARAP.to_excel(writer, index= False, sheet_name='unifiedARReport')
        data_work_OCP.to_excel(writer, index= False, sheet_name='unifiedOcp')
        data_BD_merge_C_E_false.to_excel(writer, index= False, sheet_name='BU_to_cty')
        full_data_no_in_OCP.to_excel(writer, index= False, sheet_name='full_data_no_OCP')

In [11]:
BUcodes_merge = data_work_OCP[['holding','buCode']].drop_duplicates().reset_index(drop=True).merge(data_work_ARAP[['holding','CompCode_concat']].drop_duplicates().reset_index(drop=True), how='outer', left_on=['holding','buCode'], right_on=['holding','CompCode_concat'])
BUcodes_merge[(BUcodes_merge.buCode.isna())|(BUcodes_merge.CompCode_concat.isna())]
# .to_excel('Map.xlsx')

     holding buCode CompCode_concat
14  EUROCHEM    NaN           BYEMI

In [12]:
query = f'''
select distinct
"counterpartyName","introgroupCounterpartyCode","counterpartySegment"
from RISKACCESS."unifiedOcp"
where 
"sourceTable" = 'unifiedARReport' and
"reportDate" = TO_DATE('{Today}', 'YYYY-MM-DD') and
"rowType" = 'M'
'''
data_cpty_ocp = export_from_RISKCUSTOM(query)

# data_cpty_ocp['introgroupCounterpartyCode_s'] = merge_SalesUnits(data_cpty_ocp, 'introgroupCounterpartyCode', merge_col='ocpSegment')
data_cpty_ocp['merge_code'] = merge_Mapping(data_cpty_ocp, 'counterpartyName')
data_cpty_ocp['merge_code_S'] = merge_SalesUnits(data_cpty_ocp, 'merge_code', merge_col='ocpSegment')


data_cpty_ocp.introgroupCounterpartyCode = data_cpty_ocp.introgroupCounterpartyCode.fillna('External')

data_cpty_ocp[data_cpty_ocp.introgroupCounterpartyCode!=data_cpty_ocp.merge_code]
# .to_excel('map_2.1.xlsx')

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['NTC' 'SUEK RU' 'SUEK RU' 'RUFERT' 'SUEK RU' 'SUEK RU' 'SUEK RU' 'RUFERT'
 'RUFERT' 'RUFERT' 'SUEK RU' 'SGC' 'EURPROD' 'RUFERT' 'EX SUEK AG'
 'EURPROD' 'SGC' 'EURSALES' 'NTC' 'SGC' 'RUFERT' 'NTC' 'SUEK RU'
 'EX SUEK AG' 'SUEK RU' 'EX SUEK AG' 'RUFERT' 'EURSALES' 'SAMSALES'
 'RUFERT' 'EURSALES' 'SUEK RU' 'SUEK RU' 'SUEK RU' 'SUEK RU' 'SGC' 'SGC'
 'SUEK RU' 'SGC' 'NTC' 'RUFERT' 'SGC' 'SGC' 'EURSALES' 'SUEK RU' 'RUFERT'
 'SGC' 'RUFERT' 'SGC' 'TRADING' 'RUFERT' 'SGC' 'RUFERT' 'NAMSALES'
 'RUFERT' 'RUFERT' 'EX SUEK AG' 'EX SUEK AG' 'SGC' 'SGC' 'SPV' 'SAMSALES'
 'EURSALES' 'SGC' 'SUEK RU' 'SGC' 'NTC' 'RUFERT' 'SUEK RU' 'RUFERT'
 'RUFERT' 'RUFERT' 'RUFERT' 'RUFERT' 'NAMSALES' 'EURSALES' 'EURSALES'
 'SUEK RU' 'RUFERT' 'RUFERT' 'RUFERT' 'SUEK RU' 'RUFERT' 'NTC' 'SPV'
 'SAMSALES' 'EX SUEK AG' 'RUFERT' 'TRADING' 'RUFERT' 'SGC' 'RUFERT' 'SGC'
 'RUFERT' 'EURSALES' 'TRADING' 'SAMSALES' 'TRADING' 'EURSALES' 'SUEK INT'
 'TRADING' 'RUFERT' 'EX SUEK AG' 'RUFERT' 'SUEK RU' 'RUFERT' 'SGC'
 'SUEK RU' 'SUEK RU' 'TRADING' 'SUEK RU' 'SAMSALES' 'TRADING' 'EURSALES'
 'RUFERT' 'SUEK RU' 'SUEK RU' 'TRADING' 'SUEK RU' 'SUEK RU' 'SGC' 'RUFERT'
 'SGC' 'SAMSALES' 'EURSALES' 'TRADING' 'NTC' 'RUFERT' 'SAMSALES'
 'EX SUEK AG' 'RUFERT' 'SUEK RU' 'SUEK RU' 'NTC' 'RUFERT' 'SGC' 'SPV'
 'NTC' 'TRADING' 'EX SUEK AG' 'RUFERT' 'EURSALES' 'SGC' 'SUEK RU' 'SGC'
 'SUEK RU' 'SGC' 'RUFERT' 'NTC' 'SGC' 'EURSALES' 'EURSALES' 'SUEK RU'
 'SGC' 'EX SUEK AG' 'SPV' 'EURSALES' 'EURSALES' 'RUFERT' 'SUEK RU'
 'RUFERT' 'NTC' 'SUEK RU' 'NTC' 'SUEK RU' 'SGC' 'SUEK RU' 'RUFERT' 'SGC'
 'EX SUEK AG' 'EX SUEK AG' 'RUFERT' 'SAMSALES' 'SAMSALES' 'EX SUEK AG'
 'SUEK RU' 'RUFERT' 'RUFERT' 'SUEK RU' 'SGC' 'RUFERT' 'EURPROD' 'SGC'
 'EX SUEK AG' 'SUEK RU' 'TRADING' 'TRADING' 'EURPROD' 'RUFERT'
 'EX SUEK AG' 'SUEK RU' 'SGC' 'SGC' 'SGC' 'SGC' 'SPV' 'TRADING' 'SPV'
 'SUEK RU' 'RUFERT' 'SGC' 'TRADING' 'RUFERT' 'SAMSALES' 'SAMSALES'
 'RUFERT' 'RUFERT']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_colmn}_merge'] != 'External', f'{id_colmn}_merge']

,counterpartyName,introgroupCounterpartyCode,counterpartySegment,merge_code,merge_code_S
9,"ООО ""Германий и приложения""",1J01,None,BCS-1J01,SUEK RU
29,"ООО ""ПРОТЕХ ИНЖИНИРИНГ""",1P00,SUEK RU,RUPRO,RUFERT
1126,"Западно-Сибирский филиал ООО ""Сибирская генери...",External,External,1R00,SGC
5488,"ООО ""Протех Лаб""",1Q00,SUEK RU,RUPTL,RUFERT
9690,Eurochem Group AG (former Eurochem Trading GmbH),External,External,CHEAG,TRADING
12128,PT. Suek Trading Indonesia,External,External,7N00,EX SUEK AG
15368,FERTILIZANTES TOCANTINS S/A,External,External,BRFTO,SAMSALES
18168,"АО ""СГК-Алтай""",External,External,W100,SGC
22953,"ООО ""БГТК""",External,External,9T00,NTC
25651,EUROCHEM COMERCIO DE PRODUTOS QUIMI LTDA,External,External,BRCPQ,SPV
27826,EuroChem Trading Middle East FZE,External,External,AETRD,TRADING
30087,Разрез Тугнуйский АО,External,External,3D00,SUEK RU
36861,TerraBrown AG,External,External,7100,EX SUEK AG
52210,"JSC ""MCC ""EuroСhem""",External,External,RUEMO,RUFERT
55199,"ООО ""ЕвроХим Северный Кавказ""",External,External,RUNCA,RUFERT
56924,Terra Brown Singapore Pte Ltd,External,External,7I00,EX SUEK AG
59384,"(удален) ООО ""Черновский РМЗ""",External,External,3900,SUEK RU
61106,Eurochem Group AG (former Eurochem Trading GmbH),CHTRD,TRADING,CHEAG,TRADING
63705,Eurochem Group Ag (DWTCA Branch),CHTRD,TRADING,CHEAG,TRADING
69870,FERTILIZANTES TOCANTINS LTDA,External,External,BRFTO,SAMSALES

In [ ]:
'''select * from RISKACCESS."unifiedARReport"
                where "rowType" = 'M' and
                "reportDate" = '31.07.24' and "customerName" = 'PLASC - PLASTICOS SANTA CATARINA LTDA'
                '''

In [77]:
name = 'PLASC - PLASTICOS SANTA CATARINA LTDA'
data_work_ARAP[data_work_ARAP.customerName==name]
data_work_OCP[data_work_OCP.counterpartyName==name]

,holding,counterpartyName,buCode,notionalCurrency,accountSubtype,ocpSegment,introgroupCounterpartyCode,counterpartySegment,maturityDateToDays,timeBucket,volumeUsd,concat_columns
19634,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,428,1Y-2Y,40910.49,EUROCHEM_SAMSALES_BRL_Trade payables
19635,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,636,1Y-2Y,-6802.58,EUROCHEM_SAMSALES_BRL_Trade payables
19636,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,652,1Y-2Y,-5468.65,EUROCHEM_SAMSALES_BRL_Trade payables
19637,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,796,2Y+,41086.07,EUROCHEM_SAMSALES_BRL_Trade payables
19638,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,806,2Y+,-18961.45,EUROCHEM_SAMSALES_BRL_Trade payables
19639,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,840,2Y+,-14445.82,EUROCHEM_SAMSALES_BRL_Trade payables
19640,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,841,2Y+,26678.64,EUROCHEM_SAMSALES_BRL_Trade payables
19641,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,873,2Y+,15589.62,EUROCHEM_SAMSALES_BRL_Trade payables
19642,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,880,2Y+,-17501.09,EUROCHEM_SAMSALES_BRL_Trade payables
19643,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,938,2Y+,-9150.35,EUROCHEM_SAMSALES_BRL_Trade payables
19644,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,939,2Y+,35124.20,EUROCHEM_SAMSALES_BRL_Trade payables
19645,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,980,2Y+,14228.47,EUROCHEM_SAMSALES_BRL_Trade payables
19646,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,986,2Y+,-12531.68,EUROCHEM_SAMSALES_BRL_Trade payables
19647,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,1006,2Y+,14228.47,EUROCHEM_SAMSALES_BRL_Trade payables
19648,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,1023,2Y+,-2773.33,EUROCHEM_SAMSALES_BRL_Trade payables
19649,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,1036,2Y+,-10776.36,EUROCHEM_SAMSALES_BRL_Trade payables
19650,EUROCHEM,PLASC - PLASTICOS SANTA CATARINA LTDA,BRHRG,BRL,Trade payables,SAMSALES,External,External,1120,2Y+,-10767.83,EUROCHEM_SAMSALES_BRL_Trade payables