In [1]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\Working_attributes")
from Imports import *

In [117]:
print_to_excel = False
print_to_excel_alerts = True

Creature 1

In [3]:
file_name = 'Credit_Orderbook_20-09-2024_Not_Scheduled_(1).xlsx'
sheets_list = ['ECFH - Carteira Total', 'FTO - Carteira Total']

# reading ECFH
creature_1_df_ECFH = pd.read_excel(file_name, sheet_name=sheets_list[0], header=1)
assert len(creature_1_df_ECFH) == 6820
# rename and choose columns
rename_dict = {'Customer':'customer','Sales Order':'orderId','Order Date (DD/MM/YYYY)':'agreementDate','Product code':'productCode','Sold Volume':'quantity','Unit price':'productUnitPrice','Shipping Type':'deliveryIncoterms','Vlr.Total Sale':'replacementCost'}
creature_1_df_ECFH = creature_1_df_ECFH.rename(columns=rename_dict)
creature_1_df_ECFH_work = creature_1_df_ECFH[list(rename_dict.values())]
# work with customer
creature_1_df_ECFH_work['customerName'] = creature_1_df_ECFH_work.customer.str.extract(r'^([A-Z, a-z]*)')
creature_1_df_ECFH_work['customerCode'] = creature_1_df_ECFH_work.customer.str.extract(r'\(([0-9]*)\)')
creature_1_df_ECFH_work = creature_1_df_ECFH_work.drop(columns='customer')
# add source
creature_1_df_ECFH_work['source_sheet'] = sheets_list[0]
creature_1_df_ECFH_work['source_file'] = file_name
# types
# int
creature_1_df_ECFH_work[['orderId','customerCode']] = creature_1_df_ECFH_work[['orderId','customerCode']].astype(int)
# float 
creature_1_df_ECFH_work[['quantity','productUnitPrice','replacementCost']] = creature_1_df_ECFH_work[['quantity','productUnitPrice','replacementCost']].astype(float)
# str 
creature_1_df_ECFH_work['productCode'] = creature_1_df_ECFH_work['productCode'].astype(str)
# add ccy
creature_1_df_ECFH_work['replacementCostCurrency'] = 'BRL'

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\2742008193.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_ECFH_work['customerName'] = creature_1_df_ECFH_work.customer.str.extract(r'^([A-Z, a-z]*)')
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\2742008193.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_ECFH_work['customerCode'] = creature_1_df_ECFH_work.customer.str.extract(r'\(([0-9]*)\)')

In [4]:
# reading FTO
creature_1_df_FTO = pd.read_excel(file_name, sheet_name=sheets_list[1], header=1)
assert len(creature_1_df_FTO) == 822
# rename and choose columns
rename_dict = {'Customer':'customerName','ERP Contract Number':'sfOrderId','Negotiation date ':'agreementDate','Code Product':'productCode','Total Sales Volume':'quantity','Unit price':'productUnitPrice','Type of Shipping':'deliveryIncoterms', 'Currency':'replacementCostCurrency'}
creature_1_df_FTO = creature_1_df_FTO.rename(columns=rename_dict)
creature_1_df_FTO_work = creature_1_df_FTO[list(rename_dict.values())]
# add source
creature_1_df_FTO_work['source_sheet'] = sheets_list[0]
creature_1_df_FTO_work['source_file'] = file_name
# types
# int
creature_1_df_FTO_work['sfOrderId'] = creature_1_df_FTO_work['sfOrderId'].astype(int)
# float 
creature_1_df_FTO_work[['quantity','productUnitPrice']] = creature_1_df_FTO_work[['quantity','productUnitPrice']].astype(float)
# str 
creature_1_df_FTO_work['productCode'] = creature_1_df_FTO_work['productCode'].astype(str)
# work with final cost
creature_1_df_FTO_work['replacementCost'] = creature_1_df_FTO_work['productUnitPrice'] * creature_1_df_FTO_work['quantity']

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\503980640.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_FTO_work['source_sheet'] = sheets_list[0]
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\503980640.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_FTO_work['source_file'] = file_name
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\503980640.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_FTO_work['sfOrderId'] = creature_1_df_FTO_work['sfOrderId'].astype(int)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\503980640.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_FTO_work[['quantity','productUnitPrice']] = creature_1_df_FTO_work[['quantity','productUnitPrice']].astype(float)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\503980640.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_FTO_work['productCode'] = creature_1_df_FTO_work['productCode'].astype(str)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\503980640.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_1_df_FTO_work['replacementCost'] = creature_1_df_FTO_work['productUnitPrice'] * creature_1_df_FTO_work['quantity']

Creature 2

In [5]:
file_name = 'Contracts_-_FH_-_Oct_01,_2024.xlsx'
sheets_name = 'ECFH - Carteira Total'

# reading ECFH
creature_2_df_ECFH = pd.read_excel(file_name, sheet_name=sheets_name, header=1)
assert len(creature_2_df_ECFH) == 11553
# rename and choose columns
rename_dict = {'Cliente':'customer','Ordem de Venda':'orderId','Data Pedido (DD/MM/AAAA)':'agreementDate','Material':'product','Qtde Vendida':'quantity','Vlr.Unit.Venda':'productUnitPrice','Tipo Frete':'deliveryIncoterms','Vlr.Total Venda':'replacementCost'}
creature_2_df_ECFH = creature_2_df_ECFH.rename(columns=rename_dict)
creature_2_df_ECFH_work = creature_2_df_ECFH[list(rename_dict.values())]
# work with customer
creature_2_df_ECFH_work['customerName'] = creature_2_df_ECFH_work.customer.str.extract(r'^([A-Z, a-z]*)')
creature_2_df_ECFH_work['customerCode'] = creature_2_df_ECFH_work.customer.str.extract(r'\(([0-9]*)\)')
creature_2_df_ECFH_work['productCode'] = creature_2_df_ECFH_work['product'].str.extract(r'^([[0-9, A-Z, a-z]*) ')
creature_2_df_ECFH_work = creature_2_df_ECFH_work.drop(columns=['customer','product'])
# add source
creature_2_df_ECFH_work['source_sheet'] = sheets_name
creature_2_df_ECFH_work['source_file'] = file_name
# types
# int
creature_2_df_ECFH_work[['orderId','customerCode']] = creature_2_df_ECFH_work[['orderId','customerCode']].astype(int)
# float 
creature_2_df_ECFH_work[['quantity','productUnitPrice','replacementCost']] = creature_2_df_ECFH_work[['quantity','productUnitPrice','replacementCost']].astype(float)
# str 
creature_2_df_ECFH_work['productCode'] = creature_2_df_ECFH_work['productCode'].astype(str)
# add ccy
creature_2_df_ECFH_work['replacementCostCurrency'] = 'BRL'

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\2451622962.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_ECFH_work['customerName'] = creature_2_df_ECFH_work.customer.str.extract(r'^([A-Z, a-z]*)')
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\2451622962.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_ECFH_work['customerCode'] = creature_2_df_ECFH_work.customer.str.extract(r'\(([0-9]*)\)')
c:\Users\KlimovaAnnaA\AppData\Local\miniconda3\Lib\site-packages\pandas\core\strings\accessor.py:2738: FutureWarning: Possible nested set at position 3
  regex = re.compile(pat, flags=flags)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\2451622962.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_ECFH_work['productCode'] = creature_2_df_ECFH_work['product'].str.extract(r'^([[0-9, A-Z, a-z]*) ')

In [6]:
file_name = 'BRFTO_FX_Exposure_Model_20.09.2024.xlsx'
sheets_name = 'Contracts'

# reading FTO
creature_2_df_BRFTO = pd.read_excel(file_name, sheet_name=sheets_name)
assert len(creature_2_df_BRFTO) == 712
# rename and choose columns
rename_dict = {'Razao Social':'customerName','Contrato Venda':'sfOrderId','Numero Pedido':'orderId', 'Emitido Em':'orderDate','Saldo Devido':'replacementCost', 'Moeda':'replacementCostCurrency'}
creature_2_df_BRFTO = creature_2_df_BRFTO.rename(columns=rename_dict)
creature_2_df_BRFTO_work = creature_2_df_BRFTO[list(rename_dict.values())]
# add source
creature_2_df_BRFTO_work['source_sheet'] = sheets_name
creature_2_df_BRFTO_work['source_file'] = file_name
# types
# int
creature_2_df_BRFTO_work[['sfOrderId','orderId']] = creature_2_df_BRFTO_work[['sfOrderId','orderId']].astype(int)
# float 
creature_2_df_BRFTO_work['replacementCost'] = creature_2_df_BRFTO_work['replacementCost'].astype(float)

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\1484741969.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_BRFTO_work['source_sheet'] = sheets_name
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\1484741969.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_BRFTO_work['source_file'] = file_name
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\1484741969.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_BRFTO_work[['sfOrderId','orderId']] = creature_2_df_BRFTO_work[['sfOrderId','orderId']].astype(int)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\1484741969.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_2_df_BRFTO_work['replacementCost'] = creature_2_df_BRFTO_work['replacementCost'].astype(float)

Creature 3

In [7]:
query = """
select * 
from "RISKACCESS"."OPRECBrazilDaily" 
where "salesUnitCode" in ('BRFTO','BRHRG') 
and "reportDate" = TO_DATE('20.09.24', 'DD.MM.YY')
and "mtmOrderBookType" = 'Sales'
"""
creature_3_df = export_from_RISKCUSTOM(query)
creature_3_df.shape

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

(59992, 147)

In [8]:
# work with cols
creature_3_df_work = creature_3_df[['customerCode', 'customerName', 'orderId', 'sfOrderId', 'agreementDate', 'orderDate','productCode', 'quantity', 'productUnitPrice', 'deliveryIncoterms', 'replacementCost','replacementCostCurrency']]
creature_3_df_work['source'] = 'OPRECBrazilDaily'
# types
# int
creature_3_df_work[['orderId','customerCode', 'sfOrderId']] = creature_3_df_work[['orderId','customerCode', 'sfOrderId']].fillna(0).astype(int)
# float 
creature_3_df_work[['quantity','productUnitPrice','replacementCost']] = creature_3_df_work[['quantity','productUnitPrice','replacementCost']].astype(float)
# str 
creature_3_df_work['productCode'] = creature_3_df_work['productCode'].astype(str)

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\819585449.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_3_df_work['source'] = 'OPRECBrazilDaily'
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\819585449.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_3_df_work[['orderId','customerCode', 'sfOrderId']] = creature_3_df_work[['orderId','customerCode', 'sfOrderId']].fillna(0).astype(int)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\819585449.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_3_df_work[['quantity','productUnitPrice','replacementCost']] = creature_3_df_work[['quantity','productUnitPrice','replacementCost']].astype(float)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\819585449.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  creature_3_df_work['productCode'] = creature_3_df_work['productCode'].astype(str)

мердж

In [9]:
# preparation
creature_3_df_work = creature_3_df_work.drop_duplicates().reset_index(drop=True)
creature_2_df_ECFH_work = creature_2_df_ECFH_work.drop_duplicates().reset_index(drop=True)
creature_1_df_ECFH_work = creature_1_df_ECFH_work.drop_duplicates().reset_index(drop=True)

creature_3_df_work.shape[0], creature_2_df_ECFH_work.shape[0], creature_1_df_ECFH_work.shape[0]

(58279, 11552, 6820)

In [10]:
# pivots
creature_3_df_work_pivot = creature_3_df_work.groupby(as_index=False, dropna=False, by=['customerCode', 'customerName', 'orderId', 'agreementDate','productCode','deliveryIncoterms','replacementCostCurrency', 'source']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})
creature_2_df_ECFH_work_pivot = creature_2_df_ECFH_work.groupby(as_index=False, dropna=False, by=['orderId', 'agreementDate','deliveryIncoterms','customerName', 'customerCode','productCode','replacementCostCurrency', 'source_sheet', 'source_file']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})
creature_1_df_ECFH_work_pivot = creature_1_df_ECFH_work.groupby(as_index=False, dropna=False, by=['orderId', 'agreementDate','deliveryIncoterms','customerName', 'customerCode','productCode','replacementCostCurrency', 'source_sheet', 'source_file']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})

creature_3_df_work_pivot.shape[0], creature_2_df_ECFH_work_pivot.shape[0], creature_1_df_ECFH_work_pivot.shape[0]

(19009, 11465, 6818)

In [11]:
merge_2_to_3 = creature_2_df_ECFH_work_pivot.merge(creature_3_df_work_pivot, on=['orderId', 'customerCode', 'productCode','replacementCostCurrency'], how='outer', suffixes=['_2d', '_3d']).sort_values(['customerName_2d'])
merge_2_to_3 = is_approximately_equal_for_cols(merge_2_to_3, 'quantity_2d', 'quantity_3d')

In [12]:
merge_2_to_3.shape[0]

20544

In [13]:
merge_2_to_1 = creature_2_df_ECFH_work_pivot.merge(creature_1_df_ECFH_work, on=['orderId', 'customerCode', 'productCode','replacementCostCurrency'], how='outer', suffixes=['_2d', '_1d']).sort_values(['customerName_2d'])
merge_2_to_1 = is_approximately_equal_for_cols(merge_2_to_1, 'quantity_2d', 'quantity_1d', name_col_with_diff='2_to_1')

In [14]:
merge_2_to_1_to_3 = merge_2_to_1.merge(creature_3_df_work_pivot, on=['orderId', 'customerCode', 'productCode','replacementCostCurrency'], how='outer').sort_values(['customerName_2d', 'customerName_1d'])
# merge_2_to_1_to_3 = is_approximately_equal_for_cols(merge_2_to_1_to_3, 'quantity_2d', 'quantity_1d', name_col_with_diff='2_to_1')
merge_2_to_1_to_3 = is_approximately_equal_for_cols(merge_2_to_1_to_3, 'quantity_2d', 'quantity', name_col_with_diff='2_to_3')
merge_2_to_1_to_3 = is_approximately_equal_for_cols(merge_2_to_1_to_3, 'quantity_1d', 'quantity', name_col_with_diff='1_to_3')

Алерты хелинджер

In [34]:
merge_2_to_3[merge_2_to_3['Diff__more_0.4']==True] # differences in quantity
not_in_3 = merge_2_to_3[merge_2_to_3['quantity_3d'].isna()]
not_in_3['reportDate'] = np.nan
# for string_id in not_in_3.index.tolist():
query = f'''
with table_1 as
(select "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency","quantity","productUnitPrice","replacementCost",max("reportDate") over (partition by "orderId") as "max_report"
from "RISKACCESS"."OPRECBrazilDaily" 
where "salesUnitCode" in ('BRFTO','BRHRG') 
and "mtmOrderBookType" = 'Sales'
and "orderId" in ({str(not_in_3.orderId.unique().tolist())[1:-1]})
)

select * from table_1
where "reportDate" = "max_report"
'''
data_3 = export_from_RISKCUSTOM(query)

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_8516\4278245321.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_in_3['reportDate'] = np.nan
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [36]:
not_in_3.shape[0], data_3.shape[0]

(1535, 3960)

In [49]:
data_3[['orderId', 'customerCode']] = data_3[['orderId', 'customerCode']].astype(int) #types
# pivot
data_3_pivot = data_3.groupby(as_index=False, dropna=False, by=['customerCode', 'customerName', 'orderId', 'agreementDate','productCode','deliveryIncoterms','replacementCostCurrency','reportDate']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})
# merge
in_3_by_new_date = not_in_3.loc[:,:'replacementCost_2d'].merge(data_3_pivot, on=['orderId', 'customerCode', 'productCode','replacementCostCurrency'], how='left', suffixes=['_2d', '_3d']).sort_values(['customerName_2d'])
# still not in 3
still_not_in_3 = in_3_by_new_date[in_3_by_new_date.quantity.isna()]

In [52]:
still_not_in_3[still_not_in_3.orderId==21928744]

,orderId,agreementDate_2d,deliveryIncoterms_2d,customerName_2d,customerCode,productCode,replacementCostCurrency,source_sheet,source_file,quantity_2d,productUnitPrice_2d,replacementCost_2d,customerName,agreementDate,deliveryIncoterms,reportDate,quantity,productUnitPrice,replacementCost
1202,21928744,2024-04-05,CIF,PATRICIA KYOKO PORTOLESE MORINAGA,30201493,22000000000100,BRL,ECFH - Carteira Total,"Contracts_-_FH_-_Oct_01,_2024.xlsx",615.0,1331.28,818737.2,NaN,NaT,NaN,NaT,NaN,NaN,NaN

In [74]:
query = f'''
with table_1 as
(select "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency","quantity","productUnitPrice","replacementCost",max("reportDate") over (partition by "orderId") as "max_report"
from "RISKACCESS"."OPRECBrazilDaily" 
where "salesUnitCode" in ('BRFTO','BRHRG') 
and "mtmOrderBookType" = 'Sales'
and "orderId" in ({str(still_not_in_3.orderId.unique().tolist())[1:-1]})
)

select "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency",
sum("quantity") as "quantity",
avg("productUnitPrice") as "productUnitPrice",
sum("replacementCost") as "replacementCost"
from table_1
where "reportDate" = "max_report"
group by "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency"
'''
data_3 = export_from_RISKCUSTOM(query)
data_3.shape

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

(219, 11)

In [78]:
still_not_in_3.shape

(317, 19)

In [ ]:
data_3[['orderId', 'customerCode']] = data_3[['orderId', 'customerCode']].astype(int) #types
not_equal_customers = still_not_in_3.merge(data_3, on='orderId', how='left').sort_values(['customerName_2d'])
still_not_in_3 = not_equal_customers[not_equal_customers.customerCode_y.isna()]

In [93]:
query = f'''
with table_1 as
(select "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency","quantity","productUnitPrice","replacementCost",max("reportDate") over (partition by "orderId") as "max_report"
from "RISKACCESS"."OPRECBrazilDaily" 
where "salesUnitCode" in ('BRFTO','BRHRG') 
and "mtmOrderBookType" = 'Sales'
and "orderId" in ({str(still_not_in_3.orderId.unique().tolist())[1:-1]})
)

select "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency",
sum("quantity") as "quantity",
avg("productUnitPrice") as "productUnitPrice",
sum("replacementCost") as "replacementCost"
from table_1
where "reportDate" = "max_report"
group by "reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency"
'''
data_3 = export_from_RISKCUSTOM(query)
data_3.shape

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:92: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

(0, 11)

In [115]:
creature_2_df_ECFH_not_in_3 = creature_2_df_ECFH[creature_2_df_ECFH.orderId.isin(still_not_in_3.orderId.unique().tolist())]

alerts not in 2

In [135]:
not_in_2 = creature_3_df_work[~creature_3_df_work.orderId.isin(creature_2_df_ECFH.orderId.unique().tolist())]

merge FTO

In [15]:
# preparation
creature_3_df_work = creature_3_df_work.drop_duplicates().reset_index(drop=True)
creature_2_df_BRFTO_work = creature_2_df_BRFTO_work.drop_duplicates().reset_index(drop=True)
creature_1_df_FTO_work = creature_1_df_FTO_work.drop_duplicates().reset_index(drop=True)

creature_3_df_work.shape[0], creature_2_df_BRFTO_work.shape[0], creature_1_df_FTO_work.shape[0]

(58279, 712, 719)

In [16]:
# pivots
creature_3_df_work_pivot = creature_3_df_work.groupby(as_index=False, dropna=False, by=['customerName', 'sfOrderId', 'orderId','agreementDate','orderDate','productCode','deliveryIncoterms','replacementCostCurrency', 'source']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})
creature_2_df_BRFTO_work_pivot = creature_2_df_BRFTO_work.groupby(as_index=False, dropna=False, by=['sfOrderId', 'orderId','orderDate','customerName','replacementCostCurrency', 'source_sheet', 'source_file']).agg({'replacementCost':'sum'})
creature_1_df_FTO_work_pivot = creature_1_df_FTO_work.groupby(as_index=False, dropna=False, by=['sfOrderId', 'agreementDate','deliveryIncoterms','customerName','productCode','replacementCostCurrency', 'source_sheet', 'source_file']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})

creature_3_df_work_pivot.shape[0], creature_2_df_BRFTO_work_pivot.shape[0], creature_1_df_FTO_work_pivot.shape[0]

(19009, 712, 501)

In [17]:
merge_1_to_3_FTO = creature_1_df_FTO_work_pivot.merge(creature_3_df_work_pivot, on=['sfOrderId', 'productCode','replacementCostCurrency'], how='outer', suffixes=['_1d', '_3d']).sort_values(['customerName_1d'])
merge_1_to_3_FTO = is_approximately_equal_for_cols(merge_1_to_3_FTO, 'quantity_1d', 'quantity_3d')

In [18]:
# pivot to 2_d size
creature_3_df_work_pivot_for_2d = creature_3_df_work.groupby(as_index=False, dropna=False, by=['customerName', 'sfOrderId', 'orderId', 'agreementDate','orderDate','replacementCostCurrency', 'source']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})
creature_1_df_FTO_work_pivot_foe_2d = creature_1_df_FTO_work.groupby(as_index=False, dropna=False, by=['sfOrderId','agreementDate','customerName','replacementCostCurrency', 'source_sheet', 'source_file']).agg({'quantity':'sum', 'productUnitPrice':'mean', 'replacementCost':'sum'})

In [19]:
merge_2_to_3_FTO = creature_2_df_BRFTO_work_pivot.merge(creature_3_df_work_pivot_for_2d, on=['sfOrderId','orderId','replacementCostCurrency'], how='outer', suffixes=['_2d', '_3d']).sort_values(['customerName_2d'])
merge_2_to_3_FTO = is_approximately_equal_for_cols(merge_2_to_3_FTO, 'replacementCost_2d', 'replacementCost_3d', name_col_with_diff='2_to_3')

In [20]:
merge_2_to_3_to_1_FTO = merge_2_to_3_FTO.merge(creature_1_df_FTO_work_pivot_foe_2d, on=['sfOrderId','replacementCostCurrency'], how='outer', suffixes=['', '_1d']).sort_values(['replacementCost_2d', 'replacementCost_3d', 'replacementCost'], ascending=False)
merge_2_to_3_to_1_FTO = is_approximately_equal_for_cols(merge_2_to_3_to_1_FTO, 'replacementCost_2d', 'replacementCost', name_col_with_diff='2_to_1')
merge_2_to_3_to_1_FTO = is_approximately_equal_for_cols(merge_2_to_3_to_1_FTO, 'quantity', 'quantity_1d', name_col_with_diff='3_to_1')
# merge_2_to_1_to_3 = is_approximately_equal_for_cols(merge_2_to_1_to_3, 'quantity_1d', 'quantity', name_col_with_diff='1_to_3')
# merge_2_to_3_to_1_FTO.to_excel('w.xlsx')

алерты fto

In [100]:
not_in_3 = merge_2_to_3_FTO[merge_2_to_3_FTO.customerName_3d.isna()]
query = f'''
with table_1 as
(select "sfOrderId","reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency","quantity","productUnitPrice","replacementCost",max("reportDate") over (partition by "orderId") as "max_report"
from "RISKACCESS"."OPRECBrazilDaily" 
where "salesUnitCode" in ('BRFTO','BRHRG') 
and "mtmOrderBookType" = 'Sales'
and ("orderId" in ({str(not_in_3.orderId.unique().tolist())[1:-1]}) 
or "sfOrderId" in ({str(not_in_3.sfOrderId.unique().tolist())[1:-1]}))
)

select "sfOrderId","reportDate","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency",
sum("quantity") as "quantity",
avg("productUnitPrice") as "productUnitPrice",
sum("replacementCost") as "replacementCost"
from table_1
where "reportDate" = "max_report"
group by "reportDate","sfOrderId","orderId","agreementDate","deliveryIncoterms","customerName","customerCode","productCode","replacementCostCurrency"
'''
data_3 = export_from_RISKCUSTOM(query)
data_3.shape

(1264, 12)

In [101]:
not_in_3.shape

(551, 16)

In [114]:
data_3[['orderId', 'sfOrderId']] = data_3[['orderId', 'sfOrderId']].fillna(0).astype(int) #types
not_equal_strings = not_in_3.merge(data_3, how='left', on='sfOrderId')

not in 2

In [140]:
not_in_2.shape

(19919, 13)

In [145]:
not_in_2 = not_in_2[not_in_2.sfOrderId.isin(creature_2_df_BRFTO.sfOrderId.unique().tolist())]
not_in_2.merge(creature_1_df_ECFH_work, on=['orderId', 'customerCode', 'productCode','replacementCostCurrency'], how='left', suffixes=['_3d', '_1d'])

,customerCode,customerName_3d,orderId,sfOrderId,agreementDate_3d,orderDate,productCode,quantity_3d,productUnitPrice_3d,deliveryIncoterms_3d,...,replacementCostCurrency,source,agreementDate_1d,quantity_1d,productUnitPrice_1d,deliveryIncoterms_1d,replacementCost_1d,customerName_1d,source_sheet,source_file
0,2550008,JOAO MANOEL MESQUITA COUTO,224186,2067146,2024-09-19,2024-09-19 17:24:35,1010217161101,-257.80500,2550.00,CIF,...,USD,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2550008,JOAO MANOEL MESQUITA COUTO,224186,2067146,2024-09-19,2024-09-19 17:24:35,1010217161101,-2.29500,2550.00,CIF,...,BRL,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3363733,COOPERATIVA AGRO-INDUSTRIAL HOLAMBRA,224040,2066940,2024-09-11,2024-09-18 21:33:02,1010291451101,-0.99750,2461.56,FOB,...,USD,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3363733,COOPERATIVA AGRO-INDUSTRIAL HOLAMBRA,224040,2066940,2024-09-11,2024-09-18 21:33:02,1010291451101,-995.50500,2461.56,FOB,...,USD,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3363733,COOPERATIVA AGRO-INDUSTRIAL HOLAMBRA,224040,2066940,2024-09-11,2024-09-18 21:33:02,1010291451101,-0.00250,2461.56,FOB,...,BRL,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1502000,LUIZ CARLOS BAPTISTA DOS SANTOS E OUTRO(S),213406,2060799,2024-06-07,2024-06-19 16:48:37,1010177241101,-0.17119,2792.00,FOB,...,USD,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,1502000,LUIZ CARLOS BAPTISTA DOS SANTOS E OUTRO(S),213406,2060799,2024-06-07,2024-06-19 16:48:37,1010177241101,-0.12093,2792.00,FOB,...,BRL,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,1502000,LUIZ CARLOS BAPTISTA DOS SANTOS E OUTRO(S),213406,2060799,2024-06-07,2024-06-19 16:48:37,1010177241101,-4.96451,2792.00,FOB,...,USD,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,1502000,LUIZ CARLOS BAPTISTA DOS SANTOS E OUTRO(S),213406,2060799,2024-06-07,2024-06-19 16:48:37,1010177241101,-0.34916,2792.00,FOB,...,BRL,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,1914000,AGROPECUARIA BOM JESUS CULTIVO DE GRAOS LTDA,211068,2059713,2024-05-24,2024-05-24 17:11:47,1010324141101,-25.00000,2978.00,FOB,...,USD,OPRECBrazilDaily,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

alerts excel

In [142]:
if print_to_excel_alerts == True:
    Output_file = f'{str(date.today())}_Brazil_alerts.xlsx'
    with pd.ExcelWriter(Output_file, engine='openpyxl') as writer:
        not_equal_strings.to_excel(writer, index=False, sheet_name='FTO_merge_2_to_3')
        creature_2_df_ECFH_not_in_3.to_excel(writer, index=False, sheet_name='CFH_not_in_3')
        not_equal_customers.to_excel(writer, index=False, sheet_name='CFH_merge_2_to_3')
        not_in_2.to_excel(writer, index=False, sheet_name='3_not_in_2')

excel

In [21]:
if print_to_excel == True:
    Output_file = f'{str(date.today())}_Brazil_deals.xlsx'
    with pd.ExcelWriter(Output_file, engine='openpyxl') as writer:
        merge_2_to_3.to_excel(writer, index=False, sheet_name='merge_2_to_3')
        merge_2_to_1.to_excel(writer, index=False, sheet_name='merge_2_to_1')
        merge_2_to_1_to_3.to_excel(writer, index=False, sheet_name='merge_2_to_1_to_3')
        creature_3_df_work.to_excel(writer, index=False, sheet_name='3d_work_data')
        pd.concat([creature_2_df_ECFH_work,creature_2_df_BRFTO_work]).to_excel(writer, index=False, sheet_name='2d_work_data')
        pd.concat([creature_1_df_ECFH_work,creature_1_df_FTO_work]).to_excel(writer, index=False, sheet_name='1d_work_data')
        merge_1_to_3_FTO.to_excel(writer, index=False, sheet_name='merge_1_to_3_FTO')
        merge_2_to_3_FTO.to_excel(writer, index=False, sheet_name='merge_2_to_3_FTO')
        merge_2_to_3_to_1_FTO.to_excel(writer, index=False, sheet_name='merge_2_to_3_to_1_FTO')
        # merge_2_to_3.to_excel(writer, index=False, sheet_name='merge_2_to_3')