In [1]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\Working_attributes")
from Imports import *

In [7]:
dates = ['31/07/24', '31/08/24']
dates_SQL = str([f'TO_DATE(\'{item}\', \'DD/MM/YY\')' for item in dates])[1:-1].replace('\"','')
dates_SQL

"TO_DATE('31/07/24', 'DD/MM/YY'), TO_DATE('31/08/24', 'DD/MM/YY')"

In [36]:
query = f"""
select * from 
(select "reportDate","effectiveFrom","entity","dealNo","holding","counterparty","amount","eventCurrency","amountUSD","actionDate","dealClass1","dealClass2","instrumentOwner","dealSet","facility", 
MAX("effectiveFrom") OVER (partition BY "reportDate") as "max_effectiveFrom"
from "RISKACCESS"."quantumDebt" 
where "reportDate" in ({dates_SQL})
--fetch first 10 rows only)
where "effectiveFrom" = "max_effectiveFrom"
"""
data_Debt_export = export_from_RISKCUSTOM(query)
data_Debt_export.head(2)

DatabaseError: Execution failed on sql '
select * from
(select "reportDate","effectiveFrom","entity","counterparty","amount","eventCurrency","amountUSD","actionDate","dealClass1","dealClass2","instrumentOwner","dealSet","facility",
MAX("effectiveFrom") OVER (partition BY "reportDate") as "max_effectiveFrom"
from "RISKACCESS"."quantumDebt"
where "reportDate" in (TO_DATE('31/07/24', 'DD/MM/YY'), TO_DATE('31/08/24', 'DD/MM/YY'))
--fetch first 10 rows only)
where "effectiveFrom" = "max_effectiveFrom"
': ORA-00907: missing right parenthesis

In [ ]:
dealNo,holding

In [33]:
query = f"""
select *
from "RISKACCESS"."quantumDebt" 
fetch first 10 rows only
"""
data_Debt_export = export_from_RISKCUSTOM(query)
data_Debt_export.loc[:,'facilityAlt':]

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\Working_attributes\Defs.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

,facilityAlt,loanType,facilityAlt2,dealTicket,holding,entity,counterparty,counterpartyAlt,legDirection,dealInternalL0,...,subsidised,debtRelated,reportDate,eventNumber,entitySAPBUCode,counterpartySAPID,counterpartySWIFTBICCode,effectiveFrom,xlsDate,loadEventId
0,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198610,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
1,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198611,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
2,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198612,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
3,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198614,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
4,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198615,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
5,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198616,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
6,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198617,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
7,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198618,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
8,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198619,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737
9,ETGK/FNB,Subsidised,ETGK/FNB,ETGK 66D/FNB,SUEK,XXTSU11,Territories Development Fund RU (EC),Territories Development Fund RU (EC),PAY,N,...,YES,Y,2023-11-30,198620,V100,1000147688,None,2023-12-25,2023-12-25 23:34:12,74737

In [ ]:

data_Debt_work = data_Debt_work[~data_Debt_work.entity.isna()]
data_Debt_work.entity = data_Debt_work.entity.replace({'RUBND': 'RUSBO'}).reset_index(drop=True)
if i == 'SUEK':
    data_Debt_work = data_Debt_work.rename(columns={'entity': 'pre_entity'})
    data_Debt_work['entity'] = merge_Mapping(data_Debt_work, col='pre_entity')

data_Debt_work['Entity_group'] = merge_SalesUnits(data_Debt_work, col='entity', merge_col='ocpSegment').fillna('External')

# Выполнение цикла для рассчета amount, amountUSD и присваивания значения counterparty для каждого DealSet

deals_data = data_Debt_work[['entity', 'Entity_group', 'counterparty','amount', 'amountUSD', 'instrumentOwner', 'dealSet']] # Выбор нужного разреза данных
deals_data_Bonds = deals_data[deals_data.dealSet.str.contains('Bond')] # Фильтрация разреза по значениям в DealSet, которые содержат слово Bond

Bonds_list = deals_data_Bonds.dealSet.unique()

for Bond in Bonds_list:
    try:
        Bond_data = deals_data_Bonds.query('dealSet ==@Bond') # Отбор данных одного Bond
        assert len(Bond_data[Bond_data.instrumentOwner == 'EC_ISSUED_BONDS']) != 0

        for column in Bond_data[['amount', 'amountUSD']]:
            Traded_data_sum = Bond_data.query('instrumentOwner =="EC_TRADED_BONDS"')[column].sum()
            Issued_data = Bond_data.query('instrumentOwner =="EC_ISSUED_BONDS"')[column]
            # Внесение нового значения amount в issued bonds
            Bond_data.loc[Bond_data['instrumentOwner'] =="EC_ISSUED_BONDS", column] = Traded_data_sum + Issued_data 
        # Внесение нового значения counterparty в traded bonds
        Issied_data_entity = Bond_data.query('instrumentOwner =="EC_ISSUED_BONDS"').Entity.squeeze()
        Bond_data.loc[Bond_data['instrumentOwner'] =="EC_TRADED_BONDS", 'counterparty'] = Issied_data_entity
        deals_data_Bonds.loc[deals_data_Bonds['dealSet'] == Bond] = Bond_data
    except:
        continue

deals_data.loc[deals_data.dealSet.str.contains('Bond')] = deals_data_Bonds
data_Debt_work[['entity', 'Entity_group', 'counterparty','amount', 'amountUSD', 'instrumentOwner', 'dealSet']] = deals_data
# Запись выполненного цикла в в основные данные

data_Debt_work = Period(data_Debt_work, day_for_count=Today, col_with_date='actionDate').reset_index(drop=True)

data_Debt_work.loc[data_Debt_work.counterparty.str.contains('(EC)'), 'counterparty'] = data_Debt_work.loc[data_Debt_work.counterparty.str.contains('(EC)'), 'counterparty'].str[:-5] 
# Обрезка " (EC)" в каждой строке

data_Debt_work = data_Debt_work[~data_Debt_work.counterparty.isna()].reset_index(drop=True)
data_Debt_work['CompCode'] = merge_Mapping(data_Debt_work, col='counterparty').fillna('External')
data_Debt_work['Counterparty_Group'] = merge_SalesUnits(data_Debt_work, col='CompCode', merge_col='ocpSegment').fillna('External')
# Merge counterparty с Mapping и SalesUnits

# data_Debt_work['Source'] = 'Quantum'

# if i == 'SUEK':
#     data_Debt_work_SUEK = data_Debt_work
# if i == 'EuroChem':
#     data_Debt_work_ECH = data_Debt_work

Деривативы:

In [ ]:
# query = f"""select * from "RISKACCESS"."quantumForwards" """
# data_Forwards_export = export_from_RISKCUSTOM(query)
# data_Forwards_export[data_Forwards_export.positionDate > '2024-03-01'].positionDate.unique()

query = f"""select * from "RISKACCESS"."quantumForwards" where "positionDate" = TO_DATE('{Today_1}', 'YYYY-MM-DD')"""
data_Forwards_export = export_from_RISKCUSTOM(query)

# query = f"""select * from "RISKACCESS"."quantumSwaps" """
# data_Swaps_export = export_from_RISKCUSTOM(query)
# data_Swaps_export[data_Swaps_export.positionDate > '2024-03-01'].positionDate.unique
query = f"""select * from "RISKACCESS"."quantumSwaps" where "positionDate" = TO_DATE('{Today_2}', 'DD/MM/YY')"""
data_Swaps_export = export_from_RISKCUSTOM(query)

data_Forwards_export.shape, data_Swaps_export.shape

In [ ]:
data_work_list = [data_Forwards_export, data_Swaps_export]

for data_Deriv_index in range(len(data_work_list)):
    # Проверка вхождений dealNo в Debt и остановка процесса в случае отсутвия данных:
    data_Deriv = data_work_list[data_Deriv_index]
    dealNo_intersect_list = list(set(data_Deriv['dealNo']).intersection(set(data_Debt_export['dealNo'])))
    data_work_Deriv = data_Deriv[~(data_Deriv.dealNo.isin(dealNo_intersect_list))]
    if len(data_work_Deriv) == 0:
        if data_Deriv_index == 0:
            print('data_Forwards_export is empty')
            data_print_Forwards = pd.DataFrame()
            continue
        else:
            print('data_Swaps_export is empty')
            data_print_Swaps = pd.DataFrame()
            continue
        
    data_work_Deriv['holdingEntity'] = data_work_Deriv['holdingEntity'].replace({'XXTSU': 'SUEK'})

    # Создание входящей пары внизу
    Data_for_loop = data_work_Deriv[['entity','holdingEntity','counterparty','dealNo', 'payFaceValue', 'payFXCurrency', 'recFaceValue', 'recFXCurrency', 'maturityDate']]
    for i in range(0, len(Data_for_loop)):
        row_list = list(Data_for_loop.loc[i])
        Data_for_loop.loc[len(Data_for_loop)] = row_list[:4] + row_list[6:8] + row_list[6:]
        Data_for_loop.loc[i,'payFaceValue'] = Data_for_loop.loc[i,'payFaceValue'] * -1
    Data_for_loop = Data_for_loop.sort_values('dealNo')
    # цикл создания новых строк
    Data_for_loop = Period(Data_for_loop, day_for_count=Today_1, col_with_date='maturityDate')
    # Создание Days и Period
    Data_for_loop = add_in_currency_column(Data_for_loop, CCY_to='USD', col_with_CCY='payFXCurrency', date_is_column=False, col_with_VAL='payFaceValue', DATE=Today_1)
    # создание payFaceValue_in_USD
    new_columns = ['Company', 'Settlement', 'Notional_Amount_(USD)', 'Unnamed', 'source']
    Data_for_loop = Data_for_loop.reindex(columns=(Data_for_loop.columns.tolist() + new_columns))
    Data_for_loop['source'] = 'Quantum'
    # Создание пустых столбцов и столбца ресурса

    if data_Deriv_index == 0:
        data_print_Forwards = Data_for_loop
    else:
        data_print_Swaps = Data_for_loop

data_print_Deriv = pd.concat([data_print_Forwards, data_print_Swaps], axis=0)
# Объединение таблиц вниз

data_print_Deriv_columns = {x:y for x,y in zip(data_print_Deriv.columns.tolist(), [[] for x in data_print_Deriv.columns.tolist()])}
data_print_Deriv_columns['Entity_group']=[]
data_print_Deriv_SUEK = pd.DataFrame(data_print_Deriv_columns)
data_print_Deriv_Ech = pd.DataFrame(data_print_Deriv_columns)
for i in ['SUEK', 'EuroChem']:
    data_print_Deriv_group = data_print_Deriv[data_print_Deriv.holdingEntity == i].reset_index(drop=True)
    if len(data_print_Deriv_group) == 0:
        continue   
    if i == 'SUEK':
        data_print_Deriv_group = data_print_Deriv_group.rename(columns={'entity': 'pre_entity'})
        data_print_Deriv_group['entity'] = merge_Mapping(Data_for_loop, col='pre_entity')
        
    data_print_Deriv_group['Entity_group'] = merge_SalesUnits(data_print_Deriv_group, col='entity', merge_col='ocpSegment').fillna('External')
    data_print_Deriv_group = data_print_Deriv_group[['entity','Entity_group','holdingEntity','Company',\
        'counterparty','dealNo','payFXCurrency','payFaceValue',\
        'payFaceValue_in_USD','Settlement','Notional_Amount_(USD)',\
        'Unnamed','maturityDate','Days','Period','source']]
    if i == 'SUEK':
        data_print_Deriv_SUEK = data_print_Deriv_group
    if i == 'EuroChem':
        data_print_Deriv_Ech = data_print_Deriv_group