In [2]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\OCP")
from Defs import merge_SalesUnits
from Defs import merge_Mapping
from Defs import Period
from Defs import new_list
from Defs import export_from_RISKCUSTOM
from Defs import add_in_currency_column
from Defs import concat_columns
from Defs import export_from_WHWEEK

import pandas as pd

In [2]:
  query = f"""select "VALUE1",  "PUBLICATION_DATE", "PERIOD_TO"
  from "RISKACCESS"."XXMR_MADAB_CONTENT"
    where "RISKACCESS"."XXMR_MADAB_CONTENT"."COMMODITY_ID" = 2332
    and "PUBLICATION_DATE" >= TO_DATE('2022-01-01', 'YYYY-MM-DD')
"""
data= export_from_RISKCUSTOM(query)
# data.to_excel('USD-BRL_2022-2024.xlsx')

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:93: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [4]:
data = export_from_RISKCUSTOM(f"""select * from "RISKACCESS"."mdgSalesUnits" """)
data.to_excel('Sales.xlsx')

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:93: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

In [4]:
data = export_from_RISKCUSTOM(f"""DESCRIBE "RISKACCESS"."mdgSalesUnits" """)
data

DatabaseError: Execution failed on sql 'DESCRIBE "RISKACCESS"."mdgSalesUnits" ': ORA-00900: invalid SQL statement